<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">Tipo de Situação</h1>

  <form name="formPage" class="form-horizontal" role="form" ng-submit="logic.save(situacao)" novalidate>
      <div class="form-group">
        <label for="inputDescricao" class="col-sm-2 control-label">Descrição</label>
        <div class="col-sm-6">
          <input
          ng-model="situacao.descricao"
          type="text"
          class="form-control"
          id="inputDescricao"
          name="inputDescricao"
          required 
          ng-minlength="4"
          ng-maxlength="80"
          ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*$/">
          <div ng-show="formPage.inputDescricao.$dirty && formPage.inputDescricao.$invalid">
            <small class="help-block" ng-show="formPage.inputDescricao.$error.required">Campo obrigatório</small>
            <small class="help-block" ng-show="formPage.inputDescricao.$error.minlength">Mínimo 5 caracteres</small>
            <small class="help-block" ng-show="formPage.inputDescricao.$error.maxlength">Máximo 80 caracteres</small>
            <small class="help-block" ng-show="formPage.inputDescricao.$error.pattern">Somente letras</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <a ng-click="logic.remove(situacao.id)" class="pull-right text-muted"><small>Remover</small></a>
          <button type="submit" class="btn btn-primary btn-sm" ng-disabled="formPage.$invalid">Salvar</button>
          <button type="button" ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</button>
        </div>
      </div>
      
      <div class="row text-center">
        <div class="col-sm-12">

        </div>
      </div>
    </form>
</div>