#container-views.ng-enter,
#container-views.ng-leave {
  /*position:absolute;*/
  /*left:30px;*/
  /*right:30px;*/
  /*width: 100%;*/
  /*height: 100%;*/
  -webkit-transition:0.5s all ease; 
  -moz-transition:0.5s all ease;
  transition:0.5s all ease;
}

#container-views.ng-enter {
  opacity: 0;
}

#container-views.ng-enter-active {
  opacity:1;
}

#container-views.ng-leave {
  opacity:0;
  display: none;
}

#container-views.ng-leave-active {
  opacity:0;
  display: none;
}