input[type=text].form-control,
input[type=password].form-control,
input[type=search].form-control,
input[type=number].form-control,
input[type=email].form-control,
input[type=currency].form-control,
input[type=color].form-control,
input[type=date].form-control,
input[type=datetime].form-control,
input[type=datetime-local].form-control,
input[type=time].form-control,
input[type=url].form-control,
textarea,
select,
select.form-control,
textarea.form-control {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.15s !important;
}

input[type=text].form-control:focus,
input[type=password].form-control:focus,
input[type=search].form-control:focus,
input[type=number].form-control:focus,
input[type=email].form-control:focus,
input[type=currency].form-control:focus,
input[type=color].form-control:focus,
input[type=date].form-control:focus,
input[type=datetime].form-control:focus,
input[type=datetime-local].form-control:focus,
input[type=time].form-control:focus,
input[type=url].form-control:focus,
textarea:focus,
select:focus,
select.form-control:focus,
textarea.form-control:focus {
  border-color: rgba(82, 168, 236, .8) !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15), 0 0 3px rgba(82, 168, 236, .6) !important;
}

.page-header.aprendiz-header {
  background: url('../img/Empty_profile.png') no-repeat 0 0;
}

.page-header.empresa-header {
  background: url('../img/Empty_profile_company.png') no-repeat 0 0;
}

.page-header.aprendiz-header,
.page-header.empresa-header {
  padding-left: 120px;
  font-size: 43px;
  line-height: 2;
  margin-left: 50px;
  margin-top: 20px;
  border-bottom: none;
  margin-bottom: 30px;
  font-weight: normal;
}

.isis-tabs .nav-tabs {
  margin-bottom: 15px;
}

.isis-tabs .panel .dl-horizontal,
.isis-tabs .panel address {
  margin-bottom: 0;
}


[ng-click] { cursor: pointer; }

.img-ajust{
  padding-right: 25px;
  padding-top: 7px;
}

.home-page {
  background-color: #fff;
  width: 100%;
  padding: 0;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(203,203,203);
  border-width: 1px;
}

.home-page h1 {
  margin: 30px 0 15px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.home-page .logo-isisbruder {
  background: url('../img/geometry2.png') repeat 0 0;
  text-align: center;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  padding: 30px 0;
  margin-bottom: 30px;
}

.home-page .logo-isisbruder img {
  width: 360px;
}

.map-content {
    height: 400px !important;
}

.documento-actions {
  width: 2%;
}

.documento-nome {
  width: 33%;
  display: inline-block;
  margin-left: 8px;
}


.documento-data-entrega {
  display: inline-block;
  text-align: center;
}

