/* FORM */

.aprendiz-form .panel-heading  {
  font-size: 24px;
}

.aprendiz-form .form-group.sexo-group .col-sm-3.sexo {
  font-size: 15px;
  width: 230px;
  color: #444;
}

.aprendiz-form .form-group.sexo-group .col-sm-3.cor {
  width: 29.5%;
}

#accordion-aprendiz .panel {
  border: none;
  box-shadow: none;
}

#accordion-aprendiz .panel .panel-title {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
}

#accordion-aprendiz .panel .panel-title i { opacity: .7; font-size: 15px; font-weight: normal;}

#accordion-aprendiz .panel .panel-heading {
  background-color: white;
  padding: 0;
  border-bottom: 1px solid #e5e5e5
}

#accordion-aprendiz .panel .panel-body { border-top: none; }
