/* Directive de e-mails */
.emails,
.telefones {
  width: 450px !important; 
}

.emails .actions,
.telefones .actions {
  float: right;
}

.emails .actions-td,
.telefones .actions-td {
  padding: 0 !important;
}