.login-form {
  max-width: 330px;
  padding: 15px;
  margin-left: 240px;
}

.login-form .form-control {
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.login-form h2 {
  text-align: center;
  background: url('../img/isis-bruder-horizontal.png') no-repeat center center;
  text-indent: -999999px;
  height: 29px;
}

.login-form .email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login-form .senha {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.login-form .checkbox {
  color: #999;
  font-weight: normal;
  margin-bottom: 10px;
}
