.modal-atividade{
    width: 80%;
}

.modal-chamada{
    width: 80%;
}

.modal-telefone .modal-body select {
  display: inline;
  width: 110px;
  margin-right: 10px;
}

.modal-telefone .modal-body .ddd {
  display: inline;
  width: 56px;
  margin-right: 10px;
}

.modal-telefone .modal-body .numero {
  display: inline;
  width: 373px;
}

.modal-endereco input { margin-bottom: 10px; display: inline-block; }
.modal-endereco select { margin-bottom: 10px; display: inline-block; }
.modal-endereco label { margin: 0 10px 0 20px; }
.modal-endereco .cep { max-width: 169px; }
.modal-endereco .area { max-width: 204px; }
.modal-endereco .uf-label { margin: 0 10px 0 0; }
.modal-endereco .uf { max-width: 245px; }
.modal-endereco .cidade-label { margin: 0 15px 0 20px; }
.modal-endereco .cidade { max-width: 200px; }
.modal-endereco .logradouro { max-width: 465px; }
.modal-endereco .numero { max-width: 95px; }
.modal-endereco .bairro { max-width: 150px; }
.modal-endereco .complemento {  max-width: 145px;  }
.modal-endereco .cep-label { margin: 0 2px 0 0; }

.expiracao-label, .perfil-label, .senha-label { margin-top: 5px; }
.date-input { /* width: 155px; */ }