.processo-seletivo-tabs .active a {
  font-weight: bold;
}

.drop-area {
  border: 2px dashed #999;
  color: #999;
  font-weight: bold;
}

.drop-area.on-drag-enter {
  padding: 30px;
}

.drop-area.on-drag-hover {
  background: #C2ECFF;
  border-color: #7BB6D0;
}

.statusAberto{
   color: #FF8080;
}

.statusAndamento{
   color: #FFCF14;
}

.statusConcluido{
    color: #45D700;
}

.selected {
    color: #45D700;
}

.separador-processo{
    margin-top: 0px;
    margin-bottom: 5px;
}

.pre-selecao .table-size, .selecao .table-size, .pos-selecao .table-size {
  padding: 0 60px;
}

.pre-selecao .table-size .drop-selecionado {
  min-height: 150px;
}

.pre-selecao .table-size .arraste-aqui {
  padding-top: 50px;
  color: #ccc;
  font-size: 30px;
  text-align: center;
}

.selecao .etapas { min-height: 150px; }

.filtro-selecao{
    margin: 0px 0px 10px 0px !important;
}

.filtro-selecao div{
    padding-left: 2px;
    padding-right: 2px;
}

.botao-pesquisa-selecao{
    padding-right: 2px;
    padding-left: 2px;
}
