input.ng-valid.ng-dirty:not(.nao-validar),
textarea.ng-valid.ng-dirty:not(.nao-validar),
select.ng-valid.ng-dirty:not(.nao-validar) { 
  /*verde*/
  /*-webkit-box-shadow: 0 0 5px -1px #2ecc71;*/
  /*box-shadow: 0 0 5px -1px #2ecc71;*/
  border-color: #2ecc71;
}

input.ng-invalid.ng-dirty:not(.nao-validar), 
textarea.ng-invalid.ng-dirty:not(.nao-validar), 
select.ng-invalid.ng-dirty:not(.nao-validar) { 
  /*vermelho*/
  /*-webkit-box-shadow: 0 0 5px -1px  #e74c3c;*/
  /*box-shadow: 0 0 5px -1px #e74c3c;*/
  border-color: #e74c3c;
}

input.ng-invalid-required:not(.nao-validar), 
textarea.ng-invalid-required:not(.nao-validar), 
select.ng-invalid-required:not(.nao-validar) { 
  /*amarelo*/
  /*-webkit-box-shadow: 0 0 5px -1px #f1c40f;*/
  /*box-shadow: 0 0 5px -1px #f1c40f;*/
  border-color: #f1c40f;
}