<div id="form-panel" class="panel" ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        Nacionalidade
      </span>
    </span>
  </div>

  <div id="form-panel-body" class="panel-body">
    <form name="formPage" class="form-horizontal" role="form" ng-submit="logic.save(nacionalidade)" novalidate>
      <div class="form-group">
        <label for="inputDescricao" class="col-sm-2 control-label">Descrição</label>
        <div class="col-sm-6">
          <input
          ng-model="nacionalidade.descricao"
          type="text"
          class="form-control"
          id="inputDescricao"
          name="inputDescricao"
          required 
          ng-minlength="5"
          ng-maxlength="80"
          ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*$/">
          <div ng-show="formPage.inputDescricao.$dirty && formPage.inputDescricao.$invalid">
            <small class="help-block" ng-show="formPage.inputDescricao.$error.required">Campo obrigatório</small>
            <small class="help-block" ng-show="formPage.inputDescricao.$error.minlength">Mínimo 5 caracteres</small>
            <small class="help-block" ng-show="formPage.inputDescricao.$error.maxlength">Máximo 80 caracteres</small>
            <small class="help-block" ng-show="formPage.inputDescricao.$error.pattern">Somente letras</small>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success btn-sm" ng-disabled="formPage.$invalid">Salvar</button>
          <button type="button" ng-click="logic.cancel()" class="btn btn-warning btn-sm">Cancelar</button>
        </div>
      </div>
    </form>
  </div>

  <div id="form-panel-footer" class="panel-footer">
  </div>
</div>
