<div class="page-wrapper">
  <h1 class="page-header">
    <span>{{empresa.id ? 'Editar' : 'Cadastrar de'}} Empresa</h3>
  </h1>

  <form class="form-horizontal" role="form" ng-submit="save(empresa)" novalidate>
    <!-- Nome Fantasia -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" autofocus required ng-model="empresa.nome" maxlength="60" />
      </div>
    </div>

    <!-- Razão Social -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Razão Social</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" autofocus required ng-model="empresa.razaoSocial" maxlength="60" />
      </div>
    </div>

    <!-- CNPJ -->
    <div class="form-group">
      <label class="col-sm-2 control-label">CNPJ</label>
      <div class="col-sm-3">
        <input ng-model="empresa.cnpj" type="text" class="form-control" required minlength="14" maxlength="14" ng-pattern="/^[0-9]+$/" ng-cnpj />
      </div>
    </div>

    <fieldset>
      <legend><span>Contato</span></legend>

      <div class="form-group">
        <label class="col-sm-2 control-label">Responsável</label>
        <div class="col-sm-6  ">
          <input type="text" class="form-control" ng-model="empresa.responsavel" />
        </div>
      </div>

      <telefone-foda para="empresa"></telefone-foda>
      <email-foda para="empresa"></email-foda>
      <endereco-foda para="empresa"></endereco-foda>
    </fieldset>

    <div class="row">
      <div class="col-sm-12">
        <a ng-click="remover(empresa)" class="pull-right text-muted" ng-show="empresa.id"><small>Remover</small></a>

        <input type="submit" class="btn btn-primary btn-sm" value="{{empresa.id ? 'Salvar Empresa' : 'Cadastrar Empresa'}}" />
        <a href="javascript:history.back()" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
