<div class="page-wrapper">
  <h1 class="page-header">
    <a ng-href=".#/empresas/novo" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Empresas</span>
  </h1>
  <pagination-search pagination-service="PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-5">Nome</th>
        <th class="col-sm-3">Telefone</th>
        <th class="col-sm-1">Vagas</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="empresa in PaginationService.getItens()">
        <td>
          <a ng-href=".#/empresas/{{empresa.id}}" ng-bind="empresa.nome"></a>
        </td>

        <td>
          <span ng-show="empresa.telefones[0]" title="{{empresa.telefones[0].tipo}}">({{empresa.telefones[0].ddd}}) {{empresa.telefones[0].numero | formataTelefone}}</span>
          <span ng-hide="empresa.telefones[0]">Nenhum</span>
        </td>

        <td ng-bind="empresa.vagas"></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="PaginationService"></pagination-controls>
</div>
