<div class="page-wrapper">
  <h1 class="page-header empresa-header" ng-bind="empresa.razaoSocial"></h1>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
    <tabset class="isis-tabs">
      <a ng-href=".#/empresas/{{empresa.id}}/editar" class="btn btn-sm btn-default pull-right"><i class="fa fa-pencil"></i> Alterar</a>

      <tab heading="Geral">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Informações Básicas</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Nome</dt>
              <dd ng-bind="empresa.nome"></dd>
              <dt>Razão Social</dt>
              <dd ng-bind="empresa.razaoSocial"></dd>
              <dt>CNPJ</dt>
              <dd>{{empresa.cnpj | cnpj}}</dd>
            </dl>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contato</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Responsável</dt>
              <dd>{{empresa.responsavel || '--'}}</dd>

              <div ng-repeat="telefone in empresa.telefones">
                <dt>Telefone {{$index + 1}}</dt>
                <dd>
                  <span>({{telefone.ddd}})</span>
                  <span>{{telefone.numero | formataTelefone}}</span>
                  <span class="telefone-tipo text-muted"> – {{telefone.tipo}}</span>
                </dd>
              </div>

              <div ng-repeat="email in empresa.emails">
                <dt>Email {{$index + 1}}</dt>
                <dd data-ng-bind="email.email"></dd>
              </div>

              <div ng-repeat="endereco in empresa.enderecos">
                <dt>Endereço {{$index + 1}}</dt>
                <dd>
                  <address>
                    <strong>{{endereco.area}} CEP {{endereco.cep}}</strong><br />
                    {{endereco.logradouro}}, {{endereco.numero}}<br />
                    <div ng-show="endereco.complemento">{{endereco.complemento}}</div>
                    {{endereco.bairro}}<br />
                    {{endereco.cidade.nome}}/{{endereco.cidade.uf.sigla}}
                  </address>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </tab>

      <tab heading="Vagas Disponíveis">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="btn btn-default btn-xs pull-right" ng-click="adicionarVaga()" data-toggle="modal" data-target="#addVagaModal"><i class="fa fa-plus"></i> <span>Adicionar</span></a>
            <span>Vagas Disponíveis</span>
          </div>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="vaga in empresa.vagas" ng-show="vaga.quantidade > 0">
              <a class="pull-right" ng-click="removerVaga(vaga, $index)"><i class="fa fa-trash-o"></i></a>
              <a ng-click="editarVaga(vaga)"><i class="fa fa-user"></i> <span>{{vaga.profissao.nome}} ({{vaga.quantidade}})</span></a>
            </li>

            <li ng-show="empresa.vagas.length <= 0" class="list-group-item" style="text-align: center">
              <span class="text-muted">Nenhum</span>
            </li>
          </ul>
        </div>
      </tab>
    </tabset>
    </div>
  </div>
</div>
