<form class="modal-content form-horizontal" role="form" ng-submit="salvar(vaga)">
  <div class="modal-header">
    <h4 class="modal-title">Adicionar Vaga</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="col-sm-8">
        <label class="control-label">Cargo</label>
        <select ng-model="vaga.profissao" ng-options="profissao.nome for profissao in profissoes track by profissao.id" class="form-control" required="required">
          <option value="">Selecione</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label class="control-label">Nº de Vagas</label>
        <input ng-model="vaga.quantidade" type="number" min="1" class="form-control" required="required"/>
      </div>

      <div class="col-sm-8">
          <label class="control-label">Período</label>
          <select ng-model="vaga.periodo" id="selectPeriodo" name="selectPeriodo" class="form-control" ng-options="item.value as item.descricao for item in periodos">
              <option value="">Selecione</option>
          </select>
      </div>

      <div class="col-sm-4">
        <label class="control-label">Carga Horaria</label>
        <input ng-model="vaga.cargaHorarioMes" min="1" type="number" class="form-control"/>
      </div>

      <div class="col-sm-12">
          <label class="control-label">Descrição</label>
          <textarea ng-model="vaga.atividade" class="form-control" id="inputAtividade" name="atividade"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a ng-click="cancelar()" class="btn btn-default">Cancelar</a>
    <input type="submit" class="btn btn-primary" value="Salvar" />
  </div>
</form>
