<div class="page-wrapper" data-ng-init="logic.init()">
  <h1 class="page-header">
    <span>Processo Seletivo</h3>
  </h1>

  <form ng-submit="logic.save(processoseletivo)" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Empresa</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="processoseletivo.empresa" ng-options="empresa.razaoSocial for empresa in empresas track by empresa.id" ng-change="getVagas(processoseletivo.empresa)" ng-disabled="processoseletivo.status != 'Pré-Seleção'" required>
          <option value="">-- Selecione</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Vaga</label>
      <div class="col-sm-4">
        <select ng-model="processoseletivo.vaga" class="form-control" ng-options="vaga.nome for vaga in vagas track by vaga.id" ng-disabled="processoseletivo.status != 'Pré-Seleção'">
          <option value="">-- Selecione</option>
        </select>
      </div>

      <label class="col-sm-1 control-label">Qtd</label>
      <div class="col-sm-1">
        <input type="text" ng-model="processoseletivo.vaga.quantidade" class="text-muted form-control" ng-disabled="true" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Início do Contrato</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" ng-model="processoseletivo.dataInicio" ng-disabled="processoseletivo.status != 'Pré-Seleção'" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Término do Contrato</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" ng-model="processoseletivo.dataFim" ng-disabled="processoseletivo.status != 'Pré-Seleção'" required />
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Etapas</label>

      <div class="col-sm-6">
        <select class="form-control" ng-model="etapaSel" ng-options="etapa.descricao for etapa in opcoesDeEtapa" ng-change="adicionarEtapa(etapaSel)" ng-disabled="processoseletivo.status != 'Pré-Seleção'">
          <option value="">-- Selecione uma ou mais etapas...</option>
        </select>
      </div>

      <div class="col-sm-1" style="padding-top: 7px;" ng-hide="processoseletivo.status != 'Pré-Seleção'">
        <a ng-click="cadastrarNovaEtapa()" class="btn btn-default btn-xs" tooltip="Cadastrar nova etapa" tooltip-placement="left"><i class="fa fa-plus"></i></a>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-7 col-sm-offset-2">
        <ul>
          <li ng-repeat="etapa in processoseletivo.etapas track by etapa.idEtapa">
            <span ng-bind="etapa.descricao"></span> <span class="label label-default" ng-bind="etapa.tipoEtapa"></span> <a ng-click="excluirEtapa(etapa, $index)" ng-hide="processoseletivo.status != 'Pré-Seleção'">remover</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <a ng-click="remover(processoseletivo.id)" class="text-muted pull-right" ng-show="processoseletivo.status !== 'Encerrado'">Excluir</a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{processoseletivo.id && 'Salvar' || 'Cadastrar'}} Processo Seletivo" />
        <a class="btn btn-default btn-sm" ng-click="logic.cancel()">Cancelar</a>
      </div>
    </div>
  </form>
</div>
