<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">
    <a ng-click="logic.new()" class="btn btn-default btn-sm pull-right">Criar Novo</a>
    <span>Processo Seletivo</span>
  </h1>

  <pagination-search pagination-service="logic.PaginationService"></pagination-search>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in logic.PaginationService.getItens()">
        <td><a ng-click="logic.show(item.id)" ng-bind="item.nome"></a></td>
        <td ng-bind="item.dataInicio | date"></td>
        <td ng-bind="item.dataFim | date"></td>
        <td ng-bind="item.status"></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>
</div>

<!-- Modal ShowView -->
<!-- <div class="modal fade" id="showProcessoSeletivoModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title">Dados do Processo Seletivo <span ng-bind="processoseletivoshow.descricao"></span></h4>
      </div>
      <div class="row modal-body">

        <dl class="dl-horizontal">
              <dt>Descrição</dt>
              <dd data-ng-bind="processoseletivoshow.descricao"></dd>

              <dt>Informação</dt>
              <dd data-ng-bind="processoseletivoshow.informacao"></dd>

              <dt>Escolaridade</dt>
              <dd data-ng-bind="processoseletivoshow.escolaridade"></dd>

              <dt>Salario</dt>
              <dd data-ng-bind="processoseletivoshow.salario"></dd>
        </dl>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div> -->
