<div class="page-wrapper processo-seletivo">
  <h1 class="page-header">
    <a href=".#/processoseletivo/{{processoSeletivo.id}}/editar" class="btn btn-sm btn-default pull-right ng-scope"><i class="fa fa-pencil"></i> Alterar</a>
    <span>Processo Seletivo:</span> <span ng-bind="processoSeletivo.nome"></span>
  </h1>

  <dl class="dl-horizontal">
    <dt>Início</dt>
    <dd ng-bind="processoSeletivo.dataInicio | date"></dd>
    <dt>Fim</dt>
    <dd ng-bind="processoSeletivo.dataFim | date"></dd>
    <dt>Situação</dt>
    <dd ng-bind="processoSeletivo.status"></dd>
  </dl>

  <ul class="nav nav-tabs processo-seletivo-tabs">
    <li ng-class="{active: selecionado == 'pre-selecao', disabled: selecionado != 'pre-selecao'}">
      <a href="">1. Pré-seleção</a>
    </li>

    <li ng-class="{active: selecionado == 'selecao', disabled: selecionado != 'selecao'}">
      <a href="">2. Seleção</a>
    </li>

    <li ng-class="{active: selecionado == 'pos-selecao', disabled: selecionado != 'pos-selecao'}">
      <a href="">3. Pós-seleção</a>
    </li>
  </ul>

  <processo-pre-selecao ng-show="selecionado == 'pre-selecao'" class="pre-selecao"></processo-pre-selecao>

  <processo-selecao ng-show="selecionado == 'selecao'" class="selecao"></processo-selecao>

  <processo-pos-selecao ng-show="selecionado == 'pos-selecao' || selecionado == 'encerrado'" class="pos-selecao"></processo-pos-selecao>

  <div class="clearfix" ng-hide="processoSeletivo.status === 'Encerrado'">
    <a class="btn btn-primary pull-right" ng-click="nextStatus(selecionado)" ng-show="selecionado == 'pre-selecao' || selecionado == 'selecao'">Avançar</a>
    <a class="btn btn-success pull-right" ng-click="nextStatus(selecionado)" ng-show="processoSeletivo.status === 'Pós-Seleção'">Concluir</a>
    <a class="btn btn-default pull-right" style="margin-right: 7px;" ng-click="voltarAEtapaDePreSelecao(processoSeletivo)" ng-show="processoSeletivo.status === 'Em Seleção'">Voltar à etapa de Pré-seleção</a>
    <a class="btn btn-default pull-right" style="margin-right: 7px;" ng-click="voltarAEtapaDeSelecao(processoSeletivo)" ng-show="processoSeletivo.status == 'Pós-Seleção'">Voltar à etapa de Seleção</a>
  </div>
</div>
