<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
  <head>
  <title>Isis Bruder</title>
  <link rel="shortcut icon" href="resources/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="resources/img/favicon.ico" type="image/x-icon">
  <!-- meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- stylesheets -->
  <link href="resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="resources/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="resources/bower_components/angular-loading-bar/loading-bar.min.css" rel="stylesheet"/>

  <link href="resources/css/aprendiz.css" rel="stylesheet"/>
  <link href="resources/css/application.css" rel="stylesheet"/>
  <link href="resources/css/login.css" rel="stylesheet"/>
  <link href="resources/css/animation.css" rel="stylesheet"/>
  <link href="resources/css/directive.css" rel="stylesheet"/>
  <link href="resources/css/modal.css" rel="stylesheet"/>
  <link href="resources/css/validation.css" rel="stylesheet"/>
  <link href="resources/css/processo.css" rel="stylesheet"/>
  <link href="resources/css/historico.css" rel="stylesheet"/>

  <!-- para o menu lateral-->
  <link href="resources/css/style.css" rel="stylesheet">
  <link href="resources/css/style-responsive.css" rel="stylesheet"/>

  <link href="resources/bower_components/ngToast/dist/ngToast.css" rel="stylesheet"/>
</head>

<body ng-controller="LoginCtrl">

  <ng-toast></ng-toast>

  <section id="container">
    <header class="header fixed-top clearfix">
      <div class="brand">
        <div class="sidebar-toggle-box" ng-show="sessao.user.isLoggedIn">
          <div class="fa fa-bars"></div>
        </div>

        <a href="#" class="logo img-ajust">
          <img class="img-responsive" src="resources/img/isis-bruder-horizontal.png" />
        </a>
      </div>
    </header>

    <aside ng-show="sessao.user.isLoggedIn">
      <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
          <ul class="sidebar-menu" id="nav-accordion">
            <li><a class="active" href="#/"><i class="fa fa-home"></i> <span>Home</span></a></li>
            <li><a href="#/aprendizes"><i class="fa fa-user"></i> <span>Aprendizes</span></a></li>
            <li><a href="#/empresas"><i class="fa fa-briefcase"></i> <span>Empresas</span></a></li>
            <li><a href="#/processoseletivo"><i class="fa fa-check-square-o"></i> <span>Processo Seletivo</span></a></li>
            <!-- <li><a href="#/etapa">Etapas do Processo Seletivo</a></li> -->

            <li class="sub-menu" ng-show="sessao.isEscola()">
              <a href="#"><i class="fa fa-graduation-cap"></i><span>Controle Acadêmico</span></a>
              <ul class="sub">
                <li><a href="#/turma">Turmas</a></li>
                <li><a href="#/admin/disciplina">Disciplinas</a></li>
                <li><a href="#/admin/atividade">Atividades</a></li>
                <li><a href="#/escolas">Escolas</a></li>
                <li><a href="#/professores">Professores</a></li>
              </ul>
            </li>

            <li class="sub-menu" ng-show="sessao.isAdmin()">
              <a href="#"><i class="fa fa-briefcase"></i><span>Contrato e Histórico</span></a>
              <ul class="sub">
                <li><a href="#/contrato">Contrato</a></li>
                <li><a href="#/log">Histórico</a></li>
              </ul>
            </li>

            <li><a href="#/relatorios"><i class="fa fa-file-pdf-o"></i> <span>Relatórios</span></a></li>

            <li class="sub-menu" ng-show="sessao.isAdmin()">
              <a href="#"><i class="fa fa-cogs"></i><span>Painel Administrativo</span></a>
              <ul class="sub">
                <li><a href="#/admin/usuarios">Usuários</a></li>
                <li><a href="#/admin/profissoes">Profissões</a></li>
                <li><a href="#/admin/tipoAdvertencia">Tipo de Advertência</a></li>
                <li><a href="#/admin/paises">Países</a></li>
                <li><a href="#/admin/ufs">UFs</a></li>
                <li><a href="#/admin/cidades">Cidades</a></li>
              </ul>
            </li>

            <li><a href="#" ng-click="sessao.logout()"><i class="fa fa-power-off"></i> <span>Sair</span></a></li>
          </ul>
        </div>
      </div>
    </aside>

    <section id="main-content">
      <section class="wrapper">
        <section id="container-views" data-ng-view></section>
      </section>
    </section>
  </section>

  <!-- JavaScript libs -->
  <script src="resources/bower_components/md5.js"></script>
  <script src="resources/bower_components/angular/angular.js"></script>
  <script src="resources/bower_components/angular-route/angular-route.js"></script>
  <script src="resources/bower_components/angular-resource/angular-resource.js"></script>
  <script src="resources/bower_components/angular-animate/angular-animate.js"></script>
  <script src="resources/bower_components/angular-touch/angular-touch.js"></script>
  <script src="resources/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="resources/bower_components/angular-cookies.min.js"></script>
  <script src="resources/bower_components/jquery/dist/jquery.js"></script>
  <script src="resources/bower_components/ui-utils.js"></script>
  <script src="resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="resources/bower_components/angular-loading-bar/loading-bar.js"></script>
  <script src="resources/bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="resources/bower_components/ngToast/dist/ngToast.min.js"></script>
  <script src="resources/bower_components/cpf_cnpj/build/cpf.js"></script>
  <script src="resources/bower_components/cpf_cnpj/build/cnpj.js"></script>
  <script src="resources/bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></script>
  <script src="resources/js/draganddrop.js"></script>
  <script src="resources/js/scripts.js"></script>
  <script src="resources/js/jquery.dcjqaccordion.2.7.js"></script>
  <script src="resources/js/jquery.scrollTo.min.js"></script>
  <script src="resources/js/jquery.nicescroll.js"></script>

  <!-- App -->
  <script src="resources/js/application.js"></script>
  <script src="resources/js/modules/TemplateUrlProvider.js"></script>
  <script src="resources/js/modules/HttpInterceptor.js"></script>
  <script src="resources/js/modules/TypeService.js"></script>
  <script src="resources/js/modules/NotificationService.js"></script>
  <script src="resources/js/modules/CEPService.js"></script>
  <script src="resources/js/modules/EnderecoService.js"></script>

  <!-- Sessão -->
  <script src="resources/js/directives/globalheader.js"></script>
  <script src="resources/js/Admin/ControleAcesso/SessaoService.js"></script>

  <!-- Routes -->
  <script src="resources/js/routes/AdminRoutes.js"></script>
  <script src="resources/js/routes/CrudRoutes.js"></script>
  <script src="resources/js/routes/OperationRoutes.js"></script>
  <script src="resources/js/routes/SystemRoutes.js"></script>

  <!-- directives -->
  <script src="resources/js/directives/email/index.js"></script>
  <script src="resources/js/directives/email/modal.js"></script>
  <script src="resources/js/directives/telefone/index.js"></script>
  <script src="resources/js/directives/telefone/modal.js"></script>
  <script src="resources/js/directives/endereco/index.js"></script>
  <script src="resources/js/directives/endereco/modal.js"></script>
  <script src="resources/js/directives/PaginationDirective.js"></script>
  <script src="resources/js/directives/FormComponentsDirective.js"></script>
  <script src="resources/js/directives/FormLayoutDirective.js"></script>
  <script src="resources/js/directives/navMenu.js"></script>

  <!-- Aprendiz -->
  <script src="resources/js/Aprendiz/AprendizService.js"></script>
  <script src="resources/js/Aprendiz/DocumentoModalCtrl.js"></script>
  <script src="resources/js/Aprendiz/IndexCtrl.js"></script>
  <script src="resources/js/Aprendiz/FormCtrl.js"></script>
  <script src="resources/js/Aprendiz/ShowCtrl.js"></script>

  <!-- Empresa -->
  <script src="resources/js/Empresa/EmpresaService.js"></script>
  <script src="resources/js/Empresa/VagaModalCtrl.js"></script>
  <script src="resources/js/Empresa/IndexCtrl.js"></script>
  <script src="resources/js/Empresa/FormCtrl.js"></script>
  <script src="resources/js/Empresa/ShowCtrl.js"></script>

  <!-- Area Endereco -->
  <script src="resources/js/Admin/AreaEndereco/AreaEnderecoService.js"></script>
  <script src="resources/js/Admin/AreaEndereco/IndexCtrl.js"></script>
  <script src="resources/js/Admin/AreaEndereco/FormCtrl.js"></script>

  <!-- Etapa -->
  <script src="resources/js/Etapa/IndexCtrl.js"></script>
  <script src="resources/js/Etapa/EtapaService.js"></script>
  <script src="resources/js/Etapa/EtapaModalCtrl.js"></script>

  <!-- Relatorio -->
  <script src="resources/js/Relatorio/RelatorioService.js"></script>
  <script src="resources/js/Relatorio/IndexCtrl.js"></script>

  <!-- Escolaridade -->
  <script src="resources/js/Admin/Escolaridade/EscolaridadeService.js"></script>
  <script src="resources/js/Admin/Escolaridade/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Escolaridade/FormCtrl.js"></script>

  <!-- Curso -->
  <script src="resources/js/Admin/Curso/CursoService.js"></script>
  <script src="resources/js/Admin/Curso/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Curso/FormCtrl.js"></script>

  <!-- Processo Seletivo -->
  <script src="resources/js/ProcessoSeletivo/IndexCtrl.js"></script>
  <script src="resources/js/ProcessoSeletivo/ProcessoSeletivoService.js"></script>
  <script src="resources/js/ProcessoSeletivo/FormCtrl.js"></script>
  <script src="resources/js/ProcessoSeletivo/ShowCtrl.js"></script>
  <script src="resources/js/ProcessoSeletivo/directives/selecao/directive.js"></script>
  <script src="resources/js/ProcessoSeletivo/directives/preSelecao/directive.js"></script>
  <script src="resources/js/ProcessoSeletivo/directives/posSelecao/directive.js"></script>

  <!-- Escolas -->
  <script src="resources/js/Escola/EscolaService.js"></script>
  <script src="resources/js/Escola/IndexCtrl.js"></script>
  <script src="resources/js/Escola/FormCtrl.js"></script>
  <script src="resources/js/Escola/ShowCtrl.js"></script>

  <!-- Controle de Acesso -->
  <script src="resources/js/Admin/ControleAcesso/IndexCtrl.js"></script>
  <script src="resources/js/Admin/ControleAcesso/UsuarioService.js"></script>
  <script src="resources/js/Admin/ControleAcesso/PerfisdeAcessoService.js"></script>
  <script src="resources/js/Admin/ControleAcesso/LoginCtrl.js"></script>

  <!-- Profissoes -->
  <script src="resources/js/Admin/Profissao/ProfissaoService.js"></script>
  <script src="resources/js/Admin/Profissao/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Profissao/FormCtrl.js"></script>

  <!-- Atividade -->
  <script src="resources/js/Admin/Atividade/AtividadeService.js"></script>
  <script src="resources/js/Admin/Atividade/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Atividade/FormCtrl.js"></script>

  <!-- Países -->
  <script src="resources/js/Admin/Pais/PaisService.js"></script>
  <script src="resources/js/Admin/Pais/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Pais/FormCtrl.js"></script>

  <!-- UF's -->
  <script src="resources/js/Admin/UF/UFService.js"></script>
  <script src="resources/js/Admin/UF/IndexCtrl.js"></script>
  <script src="resources/js/Admin/UF/FormCtrl.js"></script>

  <!-- Cidades -->
  <script src="resources/js/Admin/Cidade/CidadeService.js"></script>
  <script src="resources/js/Admin/Cidade/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Cidade/FormCtrl.js"></script>

  <!-- Disciplina -->
  <script src="resources/js/Admin/Disciplina/DisciplinaService.js"></script>
  <script src="resources/js/Admin/Disciplina/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Disciplina/FormCrud.js"></script>

  <!-- Filters -->
  <script src="resources/js/filters/formataTelefone.js"></script>
  <script src="resources/js/filters/formataCpf.js"></script>
  <script src="resources/js/filters/formataCnpj.js"></script>
  <script src="resources/js/filters/idadeFilter.js"></script>
  <script src="resources/js/filters/formataDate.js"></script>
  <script src="resources/js/filters/capitalize.js"></script>

  <!-- Controle Academico -->
  <script src="resources/js/ControleAcademico/Turma/TurmaService.js"></script>
  <script src="resources/js/ControleAcademico/Turma/FormCtrl.js"></script>
  <script src="resources/js/ControleAcademico/Turma/IndexCtrl.js"></script>
  <script src="resources/js/ControleAcademico/Turma/ShowCtrl.js"></script>
  <script src="resources/js/ControleAcademico/Turma/AtividadeModalCtrl.js"></script>
  <script src="resources/js/ControleAcademico/Turma/ChamadaModalCtrl.js"></script>
  <script src="resources/js/ControleAcademico/Professor/ProfessorService.js"></script>
  <script src="resources/js/ControleAcademico/Professor/FormCtrl.js"></script>
  <script src="resources/js/ControleAcademico/Professor/IndexCtrl.js"></script>
  <script src="resources/js/ControleAcademico/RelatorioPresenca/IndexCtrl.js"></script>
  <script src="resources/js/ControleAcademico/RelatorioPresenca/RelatorioPresencaService.js"></script>


  <!-- Documento -->
  <script src="resources/js/Documento/DocumentoService.js"></script>
  <script src="resources/js/Documento/IndexCtrl.js"></script>
  <script src="resources/js/Documento/FormCtrl.js"></script>
  <script src="resources/js/Documento/ShowCtrl.js"></script>

  <!-- Nacionalidade -->
  <script src="resources/js/Admin/Nacionalidade/NacionalidadeService.js"></script>
  <script src="resources/js/Admin/Nacionalidade/IndexCtrl.js"></script>
  <script src="resources/js/Admin/Nacionalidade/FormCtrl.js"></script>

  <!-- Status Processo Seletivo -->
  <script src="resources/js/Admin/StatusProcessoSeletivo/StatusProcessoService.js"></script>
  <script src="resources/js/Admin/StatusProcessoSeletivo/IndexCtrl.js"></script>
  <script src="resources/js/Admin/StatusProcessoSeletivo/FormCtrl.js"></script>

  <!-- Contrato e Histórico -->
  <script src="resources/js/Contrato/ContratoService.js"></script>
  <script src="resources/js/Contrato/IndexCtrl.js"></script>
  <script src="resources/js/Contrato/ShowCtrl.js"></script>

  <!-- Tipo Advertencia -->
  <script src="resources/js/Admin/TipoAdvertencia/TipoAdvertenciaService.js"></script>
  <script src="resources/js/Admin/TipoAdvertencia/IndexCtrl.js"></script>
  <script src="resources/js/Admin/TipoAdvertencia/FormCtrl.js"></script>

  <!-- Historico -->
  <script src="resources/js/Log/LogService.js"></script>
  <script src="resources/js/Log/IndexCtrl.js"></script>
  <script src="resources/js/Log/ShowCtrl.js"></script>

  <!-- Relatorio -->
  <script src="resources/js/RelatorioCrud/RelatorioService.js"></script>
  <script src="resources/js/RelatorioCrud/IndexCtrl.js"></script>
  <script src="resources/js/RelatorioCrud/FormCtrl.js"></script>
</body>
</html>
