<br />

<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in processoSeletivo.selecionados track by $index" ui-draggable="{{processoSeletivo.status == 'Em Seleção'}}" drag="aprendiz" on-drop-success="dropSuccessHandler($event, $index, aprendizes)">
    <span class="fa fa-check" ng-show="item.aprovado"></span>
    <span ng-bind="item.candidato.nome"></span>
    <span style="margin-left: 4px;">
      (<a ng-click="aprovarCandidato(item)" ng-show="!item.aprovado" ng-disabled="processoSeletivo.status != 'Em Seleção'">aprovar</a><a ng-click="reprovarCandidato(item)" ng-show="item.aprovado" ng-disabled="processoSeletivo.status != 'Em Seleção'">reprovar</a>)
    </span>
  </li>
</ul>

<div class="well text-center" ng-show="processoSeletivo.selecionados.length <= 0">Não existem candidatos Selecionados na Pré-Seleção...</div>

<div class="panel panel-default" ng-hide="!listagemEtapas">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Etapa</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in processoSeletivo.etapas">
        <td>
          <a  ng-click="editarEtapa(item)" ng-bind="item.etapa.descricao" tooltip="Tipo: {{item.etapa.tipoEtapa}}"></a>
        </td>
        <td>
          <span ng-bind="item.status"></span> <span ng-show="item.status !== 'Aberta' && processoSeletivo.status == 'Em Seleção'">(</span><a ng-click="finalizarEtapa(item)" ng-show="item.status == 'Andamento' && processoSeletivo.status == 'Em Seleção'">finalizar</a><a ng-click="reabrirEtapa(item)" ng-show="item.status == 'Finalizada' && processoSeletivo.status == 'Em Seleção'">reabrir</a><span ng-show="item.status !== 'Aberta' && processoSeletivo.status == 'Em Seleção'">)</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default" ng-show="!listagemEtapas">
  <div class="panel-heading">
    <dl class="dl-horizontal" style="margin-bottom: 0;">
      <dt>Etapa</dt>
      <dd><span ng-bind="etapaEdicao.etapa.descricao"></span></dd>
      <dt>Status</dt>
      <dd><span ng-bind="etapaEdicao.status"></span></dd>
    </dl>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Aprendiz</th>
        <th>Avaliação</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in etapaEdicao.selecionados track by $index">
        <td ng-bind="item.nomeAprendiz"></td>
        <td>
          <input type="number" class="form-control nao-validar" style="width: 80px;" ng-model="item.resultadoValor" ng-show="etapaEdicao.etapa.tipoEtapa == 'Valor'" ng-disabled="etapaEdicao.status == 'Finalizado'" />
          <textarea class="form-control nao-validar" style="max-width: 100%" ng-show="etapaEdicao.etapa.tipoEtapa == 'Aberta'" ng-model="item.resultadoAberto" ng-disabled="etapaEdicao.status == 'Finalizado'"></textarea>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="panel-body">
    <a class="btn btn-primary btn-sm" ng-click="salvaEdicaoEtapa(etapaEdicao)" ng-hide="processoSeletivo.status != 'Em Seleção'">Salvar</a>
    <a class="btn btn-default btn-sm" ng-click="cancelarEdicaoEtapa(etapaEdicao)">Cancelar</a>
  </div>
</div>

<div class="well text-center" ng-show="processoSeletivo.etapas.length <= 0">Não existem Etapas vinculadas à esse Processo Seletivo...</div>
