<div>
  <label class="col-sm-2 control-label">Telefone</label>
  <a data-toggle="modal" ng-click="clearInput()" data-target="#telefoneModal" class="btn btn-link">
    <span class="glyphicon glyphicon-plus"></span> Adicionar
  </a>
</div>

<div class="col-sm-offset-2">
  <table class="table table-striped emails" style="width: auto">
    <tbody>
      <tr ng-repeat="telefone in telefones">
        <td ng-bind="telefone.tipo"></td>
        <td ng-bind="telefone.ddd"></td>
        <td ng-bind="telefone.numero"></td>
        <td class="actions-td">
          <div class="actions">
            <a data-ng-click="logic.telefone.edit(telefone)" data-toggle="modal" data-target="#telefoneModal" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
            <a data-ng-click="logic.telefone.remove($index)" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

