<form name="telefoneForm" ng-submit="logic.telefone.save(telefone)">
  <div class="modal fade modal-telefone" id="telefoneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Telefone</h4>
        </div>

        <div class="modal-body">
          <select ng-model="telefone.tipo" type="text" class="form-control" id="inputTipoTelefone" required>
            <option value="">Selecione</option>
            <option value="COMERCIAL">Comercial</option>
            <option value="FIXO">Fixo</option>
            <option value="RESIDENCIAL">Residencial</option>
          </select>

          <input 
              ng-model="telefone.ddd" 
              type="text" 
              class="form-control ddd" 
              id="inputDDD" 
              placeholder="DDD" 
              required
              ng-minlength="1" 
              ng-maxlength="3" 
              ng-pattern="/^[0-9]+$/">
          <div ng-show="formPage.inputDDD.$dirty && formPage.inputDDD.$invalid">
              <small class="help-block" ng-show="formPage.inputDDD.$error.minlength">Mínimo 1 caracteres</small>
              <small class="help-block" ng-show="formPage.inputDDD.$error.maxlength">Máximo 3 caracteres</small>
              <small class="help-block" ng-show="formPage.inputDDD.$error.pattern">Somente números</small>              
          </div>

          <input 
              ng-model="telefone.numero" 
              type="text" 
              class="form-control numero" 
              id="inputNumero" 
              placeholder="Número" 
              required
                  ng-minlength="1" 
              ng-maxlength="10" 
              ng-pattern="/^[0-9]+$/">
          <div ng-show="formPage.inputNumero.$dirty && formPage.inputNumero.$invalid">
              <small class="help-block" ng-show="formPage.inputNumero.$error.minlength">Mínimo 1 caracteres</small>
              <small class="help-block" ng-show="formPage.inputNumero.$error.maxlength">Máximo 10 caracteres</small>
              <small class="help-block" ng-show="formPage.inputNumero.$error.pattern">Somente números</small>              
          </div>
          
        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
          <button type="submit" ng-disabled="telefoneForm.$invalid" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>
