<div id="form-panel" class="panel">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-list-alt"></span>
        Relatórios
      </span>
    </span>
  </div>

  <div id="form-panel-body" class="panel-body">
    <div class="row">
      <form name="formPage" class="form-horizontal col-sm-9" role="form" novalidate >
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Entidade</label>
          <div class="form-group">
            <div class="col-sm-3">
              <select ng-model="entidadeSelecionada" ng-options="entidade.nome for entidade in entidades track by entidade.nome" class="form-control">
                <option value="" >-- Entidade</option>
              </select>
            </div>
            <div class="col-sm-5">
              <input ng-model="pesquisaCampos" class="form-control" placeholder="Pesquisar campos">
            </div>
          </div>
          <!-- <label for="" class="col-sm-2 control-label">Campos</label>
          <div class="col-sm-2">
            <select id="" name="" ng-change="add(filtro)" ng-model="campo" class="form-control" ng-options="filtro.nome for filtro in entidadeSelecionada.filtros">
              <option value="">Selecione</option>
            </select>
          </div> -->
        </div>

        <div class="">
          <div ng-repeat="f in entidadeSelecionada.filtros | filter:pesquisaCampos | orderBy: 'nome'">
            <label class="checkbox-inline col-sm-offset-1 col-sm-3">
              <input type="checkbox" ng-model="f.checked" ng-click="incluirFiltro(f)"> {{f.nome}}
            </label>
          </div>
        </div>

        <!-- <div class="form-group">
          <div ng-repeat="f in entidadeSelecionada.filtros" class="col-sm-offset-2 col-sm-2">
            <label class="checkbox-inline" for="inputFiltro">
              {{f.nome}}
              <input type="checkbox" ng-model="selecionaFiltro"/>
            </label>
          </div>
        </div> -->

        <br />

        <!-- <div ng-repeat="item in items">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2" style="margin-left: 113px">
              <label class="checkbox-inline" for="inputFiltro">
                <input type="checkbox" ng-value="true" ng-model="selecionaFiltro" ng-click="
                limpaFiltro(item)"/>
              </label>
            </div>

            <div class="col-sm-2" ng-show="selecionaFiltro" >
              <select class="form-control pull-left" ng-model="filtroSelecionado" id="" style="margin-left: -110px">
                <option value="">Selecione</option>
                <option>Teste</option>
              </select>
            </div>
          </div>
        </div> -->
          <div class="row text-center">
            <div class="col-sm-9" style="padding-top:10px">
              <button type="submit" class="btn btn-success btn-sm" ng-disabled="formPage.$invalid" ng-click="gerarRelatorio('pdf')">Download PDF</button>
              <button type="submit" class="btn btn-success btn-sm" ng-disabled="formPage.$invalid" ng-click="gerarRelatorio('excel')">Download Excel</button>
              <button type="submit" class="btn btn-success btn-sm" ng-disabled="formPage.$invalid" ng-click="gerarRelatorio('visualizar')">Visualizar</button>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalSalvarRelatorio">
                Salvar relatório atual
              </button>
              <!-- <button type="submit" class="btn btn-success btn-sm" ng-disabled="formPage.$invalid" ng-click="gerarRelatorio('visualizar')">Salvar relatório atual</button> -->
            </div>
          </div>
      </form>

      <div class="panel panel-default col-sm-3">
        <!-- <div class="panel-heading"> -->
        <!-- </div> -->
        <div class="panel-body" style="overflow: auto; height: 450px">
          <div class="row">
            <h3 class="panel-title">Relatórios Salvos</h3>
            <hr/>
          </div>
          <input ng-model="pesquisa" style="margin-bottom: 15px;" class="form-control" placeholder="Pesquisar">
          <div ng-repeat="r in relatoriosSalvos | filter:pesquisa">
            <div class="row">
              <a ng-bind="r.descricao" ng-click="setarRelatorio(r.conteudo)"></a>
              <a data-ng-click="removerRelatorio(r.id)" class="btn btn-link pull-right"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalSalvarRelatorio" tabindex="-1" role="dialog" aria-labelledby="modalSalvarRelatorioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title" id="modalSalvarRelatorioLabel">Digite um nome para o relatório</h4>
      </div>
      <div class="modal-body">
        <input ng-model="nomeRelatorio" type="text" class="form-control" placeholder="Nome"ng-maxlength="255">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="salvarRelatorio()">Salvar</button>
      </div>
    </div>
  </div>
</div>