<div class="page-wrapper" data-ng-init="logic.init()">
  <h1 class="page-header">Escolaridade</h1>

  <form class="form-horizontal" role="form" name="formPage" data-ng-submit="logic.save(escolaridade)" novalidate>
      <div class="form-group">
        <label for="inputCor" class="col-sm-2 control-label">Escolaridade</label>
        <div class="col-sm-8">
          <input data-ng-model="escolaridade.escolaridade" type="text" class="form-control" id="inputescolaridade" id="inputNome" name="inputNome" autofocus required ng-minlength="4" ng-maxlength="20" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*$/">
          <div ng-show="formPage.inputNome.$dirty && formPage.inputNome.$invalid">
            <small class="help-block" ng-show="formPage.inputNome.$error.required">Campo obrigatório</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.minlength">Mínimo 4 caracteres</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.maxlength">Máximo 20 caracteres</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.pattern">Somente letras</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <a ng-click="logic.remove(escolaridade.id)" class="pull-right text-muted"><small>Remover</small></a>
          <button type="submit" class="btn btn-primary btn-sm" ng-disabled="formPage.$invalid">Salvar</button>
          <button type="button" ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</button>
        </div>
      </div>
      
      <div class="row text-center">
        <div class="col-sm-12">

        </div>
      </div>
    </form>
</div>