<form class="modal-content form-horizontal" role="form" ng-submit="salvar(documento)">
  <div class="modal-header">
    <h4 class="modal-title">Adicionar Documento</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" ng-model="documento.nome" placeholder="Documento" required />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="btn btn-default" ng-click="cancelar()">Cancelar</a>
    <input type="submit" class="btn btn-primary" value="Salvar" />
  </div>
</form>
