<div class="page-wrapper">
  <h1 class="page-header">Cadastro de Aprendiz</h1>

  <form class="form-horizontal" role="form" ng-submit="save(aprendiz)">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>

      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="aprendiz.nome" maxlength="80" required autofocus />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Data de nascimento</label>

      <div class="col-sm-3">
        <input type="date" class="form-control" ng-model="aprendiz.dataNascimento" />
      </div>

      <div class="col-sm-3">
        <label class="radio-inline">
          <input type="radio" ng-model="aprendiz.sexo" value="MASCULINO" /> <span>Masculino</span>
        </label>

        <label class="radio-inline">
          <input type="radio" ng-model="aprendiz.sexo" value="FEMININO" /> <span>Feminino</span>
        </label>
      </div>
    </div>

    <fieldset>
      <legend><span>Contato</span></legend>
      <telefone-foda para="aprendiz"></telefone-foda>
      <email-foda para="aprendiz"></email-foda>
      <endereco-foda para="aprendiz"></endereco-foda>
    </fieldset>

    <fieldset>
      <legend><span>Responsáveis</span></legend>

      <div class="form-group">
        <label class="col-sm-2 control-label">Pai</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="aprendiz.nomePai" placeholder="Nome" />
        </div>

        <div class="col-sm-3" ng-show="aprendiz.nomePai">
          <select class="form-control" ng-model="aprendiz.profissaoPai" ng-options="profissao.nome for profissao in profissoes track by profissao.id">
            <option value="">-- Profissão</option>
          </select>
        </div>
      </div>

      <div class="form-group" ng-show="aprendiz.nomePai">
        <div class="col-sm-3 col-sm-offset-2">
          <div class="input-group">
            <span class="input-group-addon">RG</span>
            <input type="text" class="form-control" ng-model="aprendiz.rgPai" />
          </div>
        </div>

        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon">CPF</span>
            <input type="text" class="form-control" ng-model="aprendiz.cpfPai" ng-cpf ui-mask="999.999.999-99" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Mãe</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="aprendiz.nomeMae" placeholder="Nome" />
        </div>

        <div class="col-sm-3" ng-show="aprendiz.nomeMae">
          <select class="form-control" ng-model="aprendiz.profissaoMae" ng-options="profissao.nome for profissao in profissoes track by profissao.id">
            <option value="">-- Profissão</option>
          </select>
        </div>
      </div>

      <div class="form-group" ng-show="aprendiz.nomeMae">
        <div class="col-sm-3 col-sm-offset-2">
          <div class="input-group">
            <span class="input-group-addon">RG</span>
            <input type="text" class="form-control" ng-model="aprendiz.rgMae" />
          </div>
        </div>

        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon">CPF</span>
            <input type="text" class="form-control" ng-model="aprendiz.cpfMae" ng-cpf ui-mask="999.999.999-99" />
          </div>
        </div>
      </div>
    </fieldset>

    <accordion>
      <accordion-group heading="Documentos">
        <div class="form-group">
          <label class="col-sm-2 control-label">CPF</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.cpf" ng-cpf ui-mask="999.999.999-99" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">RG</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.rg" />
          </div>

          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="aprendiz.orgaoExpedidor" placeholder="Órgão Expedidor" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Vale transporte</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.valeTransporte" placeholder="Número do documento" />
          </div>
        </div>

        <div class="form-group" ng-show="aprendiz.sexo === 'MASCULINO'">
          <label class="col-sm-2 control-label">Serviço militar</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.numeroAlistamento" placeholder="Número do documento" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">NIS</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.nisNumero" placeholder="Número do documento" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">PIS</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.pisNumero" placeholder="Número do documento" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Título de eleitor</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.numeroEleitor" placeholder="Número" />
          </div>

          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="aprendiz.zonaEleitor" placeholder="Zona" />
          </div>

          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="aprendiz.secaoEleitor" placeholder="Seção" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Certidão de nasc</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.cartorio" placeholder="Cartório" />
          </div>

          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="aprendiz.livro" placeholder="Livro" />
          </div>

          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="aprendiz.folha" placeholder="Folha" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">CNH</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.cnh" placeholder="Número" />
          </div>

          <div class="col-sm-2">
            <select class="form-control" ng-model="aprendiz.tipoCnh" ng-options="cnh.value as cnh.descricao for cnh in types.cnh">
              <option value="">-- Tipo</option>
            </select>
          </div>
        </div>
      </accordion-group>

      <accordion-group heading="Dados escolares">
        <div class="form-group">
          <label class="col-sm-2 control-label">Escola</label>

          <div class="col-sm-7">
            <select class="form-control" ng-model="aprendiz.escola" ng-options="escola.nome for escola in escolas track by escola.id">
              <option value="">-- Selecione</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <select class="form-control" ng-model="aprendiz.curso" ng-options="grau.value as grau.descricao for grau in types.grausDeEscolaridade">
              <option value="">-- Grau de escolaridade</option>
            </select>
          </div>

          <div class="col-sm-2">
            <select class="form-control" ng-model="aprendiz.turnoEscola" ng-options="turno.value as turno.descricao for turno in types.turnoEscola">
              <option value="">-- Turno</option>
            </select>
          </div>

          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="aprendiz.serie" placeholder="Série/Ano" />
          </div>
        </div>

        <div class="form-group">
          <div class=" col-sm-5 col-sm-offset-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.basicoInformatica" value="true" />
                <span>Informática básica</span>
              </label>
            </div>
          </div>
        </div>
      </accordion-group>

      <accordion-group heading="Dados sócio-econômicos">
        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <select ng-model="aprendiz.nacionalidade" class="form-control" ng-options="nacionalidade.value as nacionalidade.descricao for nacionalidade in types.nacionalidade">
              <option value="">-- Nacionalidade</option>
            </select>
          </div>

          <div class="col-sm-3" ng-show="aprendiz.nacionalidade === 'ESTRANGEIRO' || aprendiz.nacionalidade === 'NATURALIZADO'">
            <input type="text" class="form-control" ng-model="aprendiz.nre" placeholder="NRE" ng-required="aprendiz.nacionalidade === 'ESTRANGEIRO' || aprendiz.nacionalidade === 'NATURALIZADO'" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <select class="form-control" ng-model="ufNaturalidade" ng-options="uf as uf.sigla for uf in ufs track by uf.id" ng-change="getCidadesByUF(ufNaturalidade, aprendiz)">
              <option value="">-- UF</option>
            </select>
          </div>

          <div class="col-sm-3">
            <select class="form-control" ng-model="aprendiz.cidadeNaturalidade" ng-options="cidade as cidade.nome for cidade in aprendiz.cidades track by cidade.id">
              <option value="">-- Cidade</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <select class="form-control" ng-model="aprendiz.cor" ng-options="cor.value as cor.descricao for cor in types.cor">
              <option value="">-- Cor</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <select class="form-control" ng-model="aprendiz.estadoCivil" ng-options="estadoCivil.value as estadoCivil.descricao for estadoCivil in types.civil">
              <option value="">-- Estado civil</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-2">
            <select class="form-control" ng-model="aprendiz.habilidadeManual" ng-options="item.value as item.descricao for item in types.habilidadeManual">
              <option value="">-- Habilidade manual</option>
            </select>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-sm-2 control-label">Número de residentes na casa</label>

          <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="aprendiz.residentesCasa" ng-change="calcularRendaPerCapita(aprendiz)" min="0" />
          </div>

          <label class="col-sm-2 control-label" ng-show="aprendiz.residentesCasa">Quantos trabalham?</label>

          <div class="col-sm-3" ng-show="aprendiz.residentesCasa">
            <input type="text" class="form-control" ng-model="aprendiz.residentesEmpregados" min="0" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Renda total</label>
          <div class="col-sm-5">
            <div class="input-group">
              <input type="text" step="0.01" class="form-control" ng-model="aprendiz.rendaTotal" ng-change="calcularRendaPerCapita(aprendiz)" />
              <span class="input-group-addon">Renda per Capita <span ng-bind="aprendiz.rendaPerCapita | currency:'R$'"></span></span>
            </div>
            <div class="help-block">Soma da renda de todos os moradores da casa.</div>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.empregadoAnteriormente" value="true" />
                <span>Trabalhou anteriormente</span>
              </label>
            </div>

            <div class="col-sm-offset-1 checkbox" ng-show="aprendiz.empregadoAnteriormente">
              <label>
                <input type="checkbox" ng-model="aprendiz.remuneradoAnteriormente" value="true" />
                <span>Era remunerado</span>
              </label>
            </div>

            <div class="col-sm-offset-1 checkbox" ng-show="aprendiz.empregadoAnteriormente">
              <label>
                <input type="checkbox" ng-model="aprendiz.registradoAnteriormente" value="true" />
                <span>Com carteira assinada</span>
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.voluntariadoAnteriormente" value="true" />
                <span>Já exerceu trabalho voluntário</span>
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.possuiFilhos" value="true" />
                <span>Possui filhos</span>
              </label>
            </div>

            <div class="checkbox" ng-show="aprendiz.possuiFilhos">
              <label>
                <input type="checkbox" ng-model="aprendiz.filhoMesmoDomicilio" value="true" />
                <span>Vive com o(s) filho(s) no mesmo domicílio</span>
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.participaDigitandoFuturo" value="true" />
                <span>Participa do programa digitando o futuro</span>
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.principalResponsavelSustento" value="true" />
                <span>É o principal responsável pelo sustento da família</span>
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.familiarAuxilioGoverno" value="true" />
                <span>Alguém da família recebe auxílio do governo</span>
              </label>
            </div>

            <div class="checkbox" ng-show="aprendiz.familiarAuxilioGoverno">
              <label>
                <input type="checkbox" ng-model="aprendiz.responsavelPeloCartaobeneficio" value="true" />
                <span>É o responsável pelo cartão do benefício</span>
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="aprendiz.moraComResponsavel" value="true" />
                <span>Mora com a mãe ou responsável</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group"  ng-show="aprendiz.moraComResponsavel">
          <label class="col-sm-2 control-label">Qual a escolaridade do responsável?</label>

          <div class="col-sm-3">
            <select class="form-control" ng-model="aprendiz.escolaridadeResponsavel" ng-options="grau.value as grau.descricao for grau in types.grausDeEscolaridade">
              <option value="">-- Selecione</option>
            </select>
          </div>

          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="aprendiz.serieResponsavel" placeholder="Série/Ano" />
          </div>
        </div>
      </accordion-group>
    </accordion>

    <div class="row">
      <div class="col-sm-12">
        <a ng-click="remover(aprendiz.id)" ng-show="aprendiz.id" class="pull-right text-muted">Excluir</a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{aprendiz.id && 'Salvar' || 'Cadastrar'}} Aprendiz" />
        <a href="./#/aprendizes" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
