<div class="page-wrapper">
  <h1 class="page-header">
    <a ng-href=".#/aprendizes/novo" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Aprendizes</span>
  </h1>
  <pagination-search pagination-service="PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-5">Nome</th>
        <th class="col-sm-4">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aprendiz in PaginationService.getItens()">
        <td>
          <a ng-href=".#/aprendizes/{{aprendiz.id}}" ng-bind="aprendiz.nome"></a>
        </td>

        <td>
          <span ng-show="aprendiz.telefones[0]" title="{{professor.aprendiz[0].tipo}}">({{aprendiz.telefones[0].ddd}}) {{aprendiz.telefones[0].numero | formataTelefone}}</span>
          <span ng-hide="aprendiz.telefones[0]">Nenhum</span>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="PaginationService"></pagination-controls>
</div>
