<div class="page-wrapper">
  <h1 class="page-header aprendiz-header" ng-bind="aprendiz.nome"></h1>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
      <tabset class="isis-tabs">
        <a href=".#/aprendizes/{{aprendiz.id}}/editar" class="btn btn-sm btn-default pull-right"><i class="fa fa-pencil"></i> Alterar</a>

        <tab heading="Geral">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Aprendizagem</h3>
            </div>

            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Empresa</dt>
                <dd ng-show="dadosAprendizagem.empresa"><a href=".#/empresas/{{dadosAprendizagem.empresa.id}}">{{dadosAprendizagem.empresa.razaoSocial}}</a> <span class="text-muted"> – {{dadosAprendizagem.vaga.profissao}} ({{dadosAprendizagem.vaga.periodo}})</span></dd>
                <dd ng-hide="dadosAprendizagem.empresa"> -- </dd>

                <dt>Turma</dt>
                <dd ng-show="dadosAprendizagem.turmas" ng-repeat="turma in dadosAprendizagem.turmas"><a href="#">{{turma.nome}}</a></dd>
                <dd ng-hide="dadosAprendizagem.turmas"> -- </dd>

                <dt>Escola</dt>
                <dd ng-show="dadosAprendizagem.escola"><a href=".#/escolas/{{dadosAprendizagem.escola.id}}">{{dadosAprendizagem.escola.nome}}</a></dd>
                <dd ng-hide="dadosAprendizagem.escola"> -- </dd>
              </dl>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Contato</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <div ng-repeat="telefone in aprendiz.telefones">
                  <dt>Telefone {{$index + 1}}</dt>
                  <dd>
                    <span>({{telefone.ddd}})</span>
                    <span>{{telefone.numero | formataTelefone}}</span>
                    <span class="telefone-tipo text-muted"> – {{telefone.tipo}}</span>
                  </dd>
                </div>

                <div ng-repeat="email in aprendiz.emails">
                  <dt>Email {{$index + 1}}</dt>
                  <dd ng-bind="email.email"></dd>
                </div>

                <div ng-repeat="endereco in aprendiz.enderecos">
                  <dt>Endereço {{$index + 1}}</dt>
                  <dd>
                    <address>
                      <div><strong>CEP {{endereco.cep}}</strong> <span class="text-muted"> – ÁREA {{endereco.area}}</span></div>
                      <div>{{endereco.logradouro}}, {{endereco.numero}}</div>
                      <div ng-show="endereco.complemento">{{endereco.complemento}}</div>
                      <div>{{endereco.bairro}}</div>
                      <div>{{endereco.cidade.nome}}/{{endereco.cidade.uf.sigla}}</div>
                    </address>
                  </dd>
                </div>

                <hr />

                <dt>Pai</dt>
                <dd>{{aprendiz.nomePai || '--'}} <span class="text-muted" ng-if="aprendiz.profissaoPai">– {{aprendiz.profissaoPai.nome}}</span></dd>
                <dt>RG</dt>
                <dd>{{aprendiz.rgPai || '--'}}</dd>
                <dt>CPF</dt>
                <dd>{{aprendiz.cpfPai | cpf}}</dd>
                <dd ng-hide="aprendiz.cpfPai"></dd>

                <hr />

                <dt>Mãe</dt>
                <dd>{{aprendiz.nomeMae || '--'}} <span class="text-muted" ng-if="aprendiz.profissaoMae">– {{aprendiz.profissaoMae.nome}}</span></dd>
                <dt>RG</dt>
                <dd>{{aprendiz.rgMae || '--'}}</dd>
                <dt>CPF</dt>
                <dd>{{aprendiz.cpfMae | cpf}}</dd>
                <dd ng-hide="aprendiz.cpfMae"></dd>
              </dl>
            </div>
          </div>
        </tab>

        <tab heading="Mais informações">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="btn btn-default btn-xs pull-right" ng-click="adicionarDocuemnto()"><i class="fa fa-plus"></i> <span>Adicionar</span></a>
              <span>Documentos Pendentes</span>
            </div>

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="documento in aprendiz.documentos | orderBy : 'id' ">
                <div class="documento-actions pull-left">
                  <a class="pull-left" ng-click="ducumentoEngragar(documento)" ng-hide="documento.dtEntrega"><i class="fa fa-circle-o"></i></a>
                  <a class="pull-left" ng-click="documentoNaoEntregue(documento)" ng-show="documento.dtEntrega"><i class="fa fa-check-circle-o"></i></a>
                </div>


                <span class="documento-nome" ng-bind="documento.nome"></span>
                <span class="documento-data-entrega" ng-show="documento.dtEntrega">Entregue em {{documento.dtEntrega | date}}</span>

                <a class="pull-right" ng-click="removerDocumento(documento, $index)"><i class="fa fa-trash-o"></i></a>
              </li>

              <li ng-show="aprendiz.documentos.length <= 0" class="list-group-item" style="text-align: center">
                <span class="text-muted">Nenhum</span>
              </li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Básico</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt ng-show="aprendiz.dataNascimento">Data de nascimento</dt>
                <dd ng-show="aprendiz.dataNascimento">{{aprendiz.dataNascimento | date}}</dd>

                <dt>Sexo</dt>
                <dd>{{aprendiz.sexo || '--'}}</dd>

                <dt>CPF</dt>
                <dd ng-show="aprendiz.cpf">{{aprendiz.cpf | cpf}}</dd>
                <dd ng-hide="aprendiz.cpf">--</dd>

                <dt>RG</dt>
                <dd>
                 <span>{{aprendiz.rg || '--'}}</span>
                 <span title="Orgão Expedidor" class="text-muted">{{aprendiz.orgaoExpedidor}}</span>
                </dd>

                <dt>Vale Transporte</dt>
                <dd>{{aprendiz.valeTransporte || '--'}}</dd>

                <dt>Estado Civil</dt>
                <dd>{{aprendiz.estadoCivil || '--'}}</dd>

                <dt ng-show="aprendiz.pisNumero">PIS</dt>
                <dd ng-show="aprendiz.pisNumero" ng-bind="aprendiz.pisNumero"></dd>

                <dt ng-show="aprendiz.nisNumero">NIS</dt>
                <dd ng-show="aprendiz.nisNumero" ng-bind="aprendiz.nisNumero"></dd>

                <dt ng-show="aprendiz.cartorio">Cartório</dt>
                <dd ng-show="aprendiz.cartorio" ng-bind="aprendiz.cartorio"></dd>

                <dt ng-show="aprendiz.livro">Livro</dt>
                <dd ng-show="aprendiz.livro" ng-bind="aprendiz.livro"></dd>

                <dt ng-show="aprendiz.folha">Folha</dt>
                <dd ng-show="aprendiz.folha" ng-bind="aprendiz.folha"></dd>

                <dt ng-show="aprendiz.cnh">CNH</dt>
                <dd ng-show="aprendiz.cnh"><span ng-bind="aprendiz.cnh"></span> <span class="text-muted" ng-if="aprendiz.tipoCnh">– {{aprendiz.tipoCnh}}</span></dd>
              </dl>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sócio-econômicas</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Renda per Capita</dt>
                <dd ng-show="aprendiz.rendaPerCapita">{{ aprendiz.rendaPerCapita | currency:"R$" }}</dd>
                <dd ng-hide="aprendiz.rendaPerCapita">--</dd>

                <dt>Cor</dt>
                <dd ng-bind="aprendiz.cor || '--'"></dd>

                <dt>Habilidade manual</dt>
                <dd ng-bind="aprendiz.habilidadeManual || '--'"></dd>

                <dt>Deficiente</dt>
                <dd ng-bind="aprendiz.portadorDeficiencia && aprendiz.tipoDeficiencia || '--'"></dd>

                <dt>Nacionalidade</dt>
                <dd ng-bind="aprendiz.nacionalidade || '--'"></dd>

                <dd ng-bind="aprendiz.medidaSocioEducativa && 'Está cumprindo medidas sócio-educativa' || 'Não está cumprindo medidas sócio-educativa'"></dd>
                <dd ng-bind="aprendiz.dificuldadeLocomocao && 'Possui dificuldade de locomoção' || 'Não possui dificuldade de locomoção'"></dd>
                <dd ng-bind="aprendiz.tituloEleitor && 'Possui título de eleitor' || 'Não possui título de eleitor'"></dd>
                <dd ng-bind="aprendiz.possuiCnh && 'Possui carteira de habilitação' || 'Não possui carteira de habilitação'"></dd>
                <dd ng-bind="aprendiz.alistadoServicoMilitar && 'Foi alistado no serviço militar' || 'Não foi alistado no serviço militar'"></dd>
                <dd ng-bind="aprendiz.basicoInformatica && 'Sabe usar programa básico de informática' || 'Não sabe usar programa básico de informática'"></dd>
              </dl>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>

</div>
