<div id="form-panel" class="panel" data-ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-user"></span>
        Área de endereço
      </span>
    </span>
  </div>
  <div id="form-panel-body" class="panel-body">
    <form class="form-horizontal" role="form" name="formPage" data-ng-submit="logic.save(areaEndereco)" novalidate>
      <div class="form-group">
        <label for="inputAreaEndereco" class="col-sm-2 control-label">Área de endereço</label>
        <div class="col-sm-8">
          <input data-ng-model="areaEndereco.areaEndereco" type="text" class="form-control" id="inputAreaEndereco" id="inputNome" name="inputNome" autofocus required ng-minlength="4" ng-maxlength="30" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*$/">
          <div ng-show="formPage.inputNome.$dirty && formPage.inputNome.$invalid">
            <small class="help-block" ng-show="formPage.inputNome.$error.required">Campo obrigatório</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.minlength">Mínimo 4 caracteres</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.maxlength">Máximo 30 caracteres</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.pattern">Somente letras</small>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success btn-sm" ng-disabled="formPage.$invalid">Salvar</button>
          <button type="button" ng-click="logic.cancel()" class="btn btn-warning btn-sm">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  <div id="form-panel-footer" class="panel-footer">
  </div>
</div>