<form class="form-horizontal" ng-submit="salvar(etapa)">
  <div class="modal-header">
    <h4 class="modal-title">Etapa</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-2 control-label">Tipo</label>
      <div class="col-sm-10">
        <select class="form-control input-sm" ng-model="etapa.tipoEtapa" ng-options="item.value as item.descricao for item in tiposDeEtapa">
          <option value="">-- Selecione</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-10">
        <input type="text" class="form-control input-sm" ng-model="etapa.descricao" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Observações</label>
      <div class="col-sm-10">
        <textarea class="form-control input-sm" ng-model="etapa.observacao"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer text-right">
    <a class="btn btn-default btn-sm" ng-click="cancelar()">Cancelar</a>
    <input type="submit" class="btn btn-primary btn-sm" value="Salvar Etapa" />
  </div>
</form>
