<div id="form-panel" class="page-wrapper" data-ng-init="logic.init()">

  <h1 class="page-header">
    <a ng-click="logic.new()" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    Etapa
  </h1>
  <pagination-search pagination-service="logic.PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-5">Etapa</th>
        <th class="col-sm-5">Tipo Etapa </th>
        <th class="col-sm-2 text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="item in logic.PaginationService.getItens()">
        <td><a ng-click="logic.edit(item.id)" ng-bind="item.descricao"></a></td>          
        <td><a ng-click="logic.edit(item.id)" ng-bind="item.tipoEtapa"></a></td>                    
        <td>
          <span class="pull-right">
            <a data-ng-click="logic.show(item)" data-toggle="modal" data-target="#showEtapaModal" class="btn btn-link">Visualizar</a>
            <a data-ng-click="logic.edit(item.id)" class="btn btn-link">Editar</a>
            <a data-ng-click="logic.remove(item.id)" class="btn btn-link">Excluir</a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>


  <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>

</div>

<!--Modal ShowView-->
<div class="modal fade" id="showEtapaModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title">Dados da Etapa <span ng-bind="etapashow.descricao"></span></h4>
      </div>
      <div class="row modal-body">

        <dl class="dl-horizontal">
          <dt>Descrição</dt>
          <dd data-ng-bind="etapashow.descricao"></dd>

          <dt>Informações</dt>
          <dd data-ng-bind="etapashow.observacao"></dd>

          <dt>Tipo Etapa</dt>
          <dd data-ng-bind="etapashow.tipoEtapa"></dd>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
