<div>
  <label class="col-sm-2 control-label"></label>
  <a data-toggle="modal" ng-click="clearInput()" data-target="#enderecoModal" class="btn btn-link">
    <span class="glyphicon glyphicon-plus"></span> Adicionar
  </a>
</div>

<div ng-show="enderecos.length > 0" class="col-sm-offset-2">
  <table class="table table-striped" style="width: auto">
    <thead>
      <tr>
        <th class="col-sm-3">Logradouro</th>
        <th class="col-sm-3">Número</th>
        <th class="col-sm-3">Bairro</th>
        <th class="col-sm-3">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="endereco in enderecos">
        <td ng-bind="endereco.logradouro"></td>
        <td ng-bind="endereco.numero"></td>
        <td ng-bind="endereco.bairro"></td>
        <td>
          <a ng-click="logic.endereco.edit(endereco)" data-toggle="modal" data-target="#enderecoModal" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
          <a ng-click="logic.endereco.remove(item)" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
