<form name="enderecoForm">
  <div class="modal fade modal-endereco" id="enderecoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Endereço</h4>
        </div>

        <div class="modal-body">
          <label for="inputCep" class="cep-label">Cep</label>
          <input ng-model="endereco.cep" name="inputCep" required ng-maxlength="10" ng-pattern="/^[0-9]+$/" type="text" class="form-control cep" id="inputCEP" name="inputCEP" placeholder="CEP">
                                            
          <br>
          <label for="inputUf" class="uf-label">UF</label>
          <select class="form-control uf" required ng-model="logic.endereco.uf" ng-options="uf.sigla for uf in logic.ufs" id="selectLocalidadeUf" name="selectLocalidadeUf" name="selectEstado" ng-change="logic.endereco.atualizaCidade(logic.endereco.uf)">   
            <option value="">Selecione</option>
          </select>

          <label for="inputUf" class="cidade-label">Cidade</label>
          <select class="form-control cidade" required ng-model="endereco.cidade" ng-options="cidade.nome for cidade in logic.cidades" id="selectLocalidadeCidade" name="selectLocalidadeCidade" name="selectCidade">             
            <option value="">Selecione</option>
          </select>

          <input 
              ng-model="endereco.logradouro" 
              required 
              type="text" 
              class="form-control logradouro" 
              id="inputComplemento" 
              name="inputComplemento" 
              placeholder="Logradouro"
              ng-minlength="5"
              ng-maxlength="30"
              ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*$/">
          <div ng-show="formPage.inputComplemento.$dirty && formPage.inputComplemento.$invalid">
              <small class="help-block" ng-show="formPage.inputComplemento.$error.required">Campo obrigatório</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.minlength">Mínimo 5 caracteres</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.maxlength">Máximo 30 caracteres</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.pattern">Somente letras</small>
          </div>          
          
          <input 
              ng-model="endereco.numero" 
              required type="text" 
              class="form-control numero" 
              id="inputNumero" 
              name="inputNumero" 
              placeholder="Número"
              ng-minlength="1" 
              ng-maxlength="5" 
              ng-pattern="/^[0-9]+$/">
          <div ng-show="formPage.inputNumero.$dirty && formPage.inputNumero.$invalid">
              <small class="help-block" ng-show="formPage.inputNumero.$error.minlength">Mínimo 5 caracteres</small>
              <small class="help-block" ng-show="formPage.inputNumero.$error.maxlength">Máximo 5 caracteres</small>
              <small class="help-block" ng-show="formPage.inputNumero.$error.pattern">Somente números</small>              
          </div>
          <input 
              ng-model="endereco.bairro" 
              required type="text" 
              class="form-control bairro" 
              id="inputComplemento" 
              name="inputComplemento" 
              placeholder="Bairro"
              ng-minlength="5"
              ng-maxlength="30"
              ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*$/">
          <div ng-show="formPage.inputComplemento.$dirty && formPage.inputComplemento.$invalid">
              <small class="help-block" ng-show="formPage.inputComplemento.$error.required">Campo obrigatório</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.minlength">Mínimo 5 caracteres</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.maxlength">Máximo 30 caracteres</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.pattern">Somente letras</small>
          </div>
          <input 
              ng-model="endereco.complemento" 
              type="text" 
              class="form-control complemento" 
              id="inputComplemento" 
              name="inputComplemento" 
              placeholder="Complemento"
              ng-minlength="5"
              ng-maxlength="30"
              ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*$/">
          <div ng-show="formPage.inputComplemento.$dirty && formPage.inputComplemento.$invalid">
              <small class="help-block" ng-show="formPage.inputComplemento.$error.required">Campo obrigatório</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.minlength">Mínimo 5 caracteres</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.maxlength">Máximo 30 caracteres</small>
              <small class="help-block" ng-show="formPage.inputComplemento.$error.pattern">Somente letras</small>
          </div>
          <label for="inputArea" class="area-label">Área</label>
          <select ng-model="endereco.area" required id="inputArea" name="inputArea" class="form-control area pull-right" ng-options="item.value as item.descricao for item in types.areaEndereco">
              <option value="">Selecione</option>
          </select>
          
        </div>

        <div class="modal-footer">
          <div ng-show="enderecoForm.inputCep.$dirty && enderecoForm.inputCep.$invalid">  
            <small class="help-block" ng-show="enderecoForm.inputCep.$error.pattern">Somente numeros</small>
          </div>

          <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
          <button type="button" ng-disabled="enderecoForm.$invalid" ng-click="logic.endereco.save(endereco)" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>
