<div>
  <div class="form-group">
    <label class="col-sm-2 control-label">CEP</label>

    <div class="col-sm-2">
      <input type="text" ng-model="endereco.cep" class="form-control" />
    </div>

    <div class="col-sm-3">
      <select ng-model="endereco.area" class="form-control">
        <option value="URBANA">Área urbana</option>
        <option value="RURAL">Área rural</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <select ng-model="uf" ng-change="getCidades(uf)" ng-options="uf as uf.nome for uf in ufs" class="form-control">
        <option value="">-- UF</option>
      </select>
    </div>

    <div class="col-sm-3">
      <select ng-model="endereco.cidade" ng-options="cidade as cidade.nome for cidade in cidades" class="form-control">
        <option value="">-- Cidade</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Rua</label>

    <div class="col-sm-3">
      <input type="text" ng-model="endereco.logradouro" class="form-control" />
    </div>

    <div class="col-sm-2">
      <input type="text" ng-model="endereco.numero" class="form-control" placeholder="Número" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Complemento</label>

    <div class="col-sm-5">
      <input type="text" ng-model="endereco.complemento" class="form-control" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Bairro</label>

    <div class="col-sm-5">
      <input type="text" ng-model="endereco.bairro" class="form-control" />
    </div>
  </div>
</div>
