<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">Cadastro de País</h1>

  <form name="formPage" class="form-horizontal" role="form" ng-submit="logic.save(pais)">
    <div class="form-group">
      <label for="inputNome" class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="pais.nome" placeholder="Nome" required />
      </div>
    </div>

    <div class="form-group">
      <label for="inputSigla" class="col-sm-2 control-label">Sigla</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="pais.sigla" placeholder="Sigla" maxlength="3" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a ng-show="pais.id" ng-click="logic.remove(pais.id)" class="pull-right text-muted">Excluir</a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{pais.id && 'Salvar' || 'Cadastrar'}} País" />
        <a ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
