<div class="page-wrapper" data-ng-init="logic.init()">
  <h1 class="page-header">
    <a ng-click="logic.new()" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Países</span>
  </h1>
  <pagination-search pagination-service="logic.PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-1">Nome</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in logic.PaginationService.getItens()">
        <td><a ng-click="logic.edit(item.id)" ng-bind="item.nome"></a></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>
</div>
