<form ng-submit="salvar(atividade)" class="form-horizontal">
  <div class="modal-header">
    <h4 class="modal-title">Nova Atividade</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-2 control-label">Data</label>
      <div class="col-sm-4">
        <input type="date" class="form-control input-sm" ng-model="atividade.dataAtividade" placeholder="yyyy-MM-dd" required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Disciplina</label>
      <div class="col-sm-9">
        <select class="form-control input-sm" ng-model="atividade.disciplina" ng-options="disciplina.nome for disciplina in disciplinas track by disciplina.id" required></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Professor</label>
      <div class="col-sm-9">
        <select class="form-control input-sm" ng-model="atividade.professor" ng-options="professor.nome for professor in professores track by professor.id" required></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Tipo</label>
      <div class="col-sm-9">
        <select class="form-control input-sm" ng-model="atividade.atividade" ng-options="tipoAtividade.tipoAtividade for tipoAtividade in tiposAtividade track by tipoAtividade.id" required></select>
      </div>
      <div class="col-sm-1" style="padding-left: 0; padding-top: 3px;">
        <a class="btn btn-default btn-xs" ng-click="adicionarTipo()"><i class="fa fa-plus"></i></a>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Valor</label>
      <div class="col-sm-3">
        <input type="number" class="form-control input-sm" ng-model="atividade.valorAtividade" required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Descrição</label>
      <div class="col-md-9">
        <textarea class="form-control" ng-model="atividade.descricaoDaAtividade"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer text-right">
    <a class="btn btn-default btn-sm" ng-click="cancelar()">Cancelar</a>
    <input type="submit" class="btn btn-primary btn-sm" value="{{atividade.id && 'Salvar' || 'Adicionar'}} Atividade" />
  </div>
</form>
