<form ng-submit="salvar(chamada)">
  <div class="modal-header">
    <h4 class="modal-title">Nova Chamada</h4>
  </div>

  <div class="modal-body form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Data</label>
      <div class="col-sm-4">
        <input type="date" class="form-control input-sm" ng-model="chamada.dataChamada" placeholder="yyyy-MM-dd" required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Disciplina</label>
      <div class="col-sm-8">
        <select class="form-control input-sm" ng-model="chamada.disciplina" ng-options="disciplina.nome for disciplina in disciplinas track by disciplina.id" required></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Professor</label>
      <div class="col-sm-8">
        <select class="form-control input-sm" ng-model="chamada.professor" ng-options="professor.nome for professor in professores track by professor.id" required></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Aulas</label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" ng-model="chamada.qtAulas" integer required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Descrição</label>
      <div class="col-sm-8">
        <textarea class="form-control input-sm" ng-model="chamada.descricao"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer text-right">
    <a class="btn btn-default btn-sm" ng-click="cancelar()">Cancelar</a>
    <input type="submit" class="btn btn-primary btn-sm" value="{{chamada.id && 'Salvar' || 'Adicionar'}} Chamada" />
  </div>
</form>
