<div class="page-wrapper" data-ng-init="logic.init()">
  <h1 class="page-header">{{turma.id ? 'Editar' : 'Cadastro de'}} Turma</h1>

  <form class="form-horizontal" role="form" data-ng-submit="logic.save(turma)">
    <fieldset>
      <div class="form-group">
        <label for="inputNome" class="col-sm-2 control-label">Nome</label>

        <div class="col-sm-6">
          <input data-ng-model="turma.nome" type="text" class="form-control" required >
        </div>
      </div>
    </fieldset>
    <br/>
    <div class="form-group">
      <div class="col-sm-12">
        <a ng-click="logic.remove(turma.id)" class="pull-right text-muted"><small>Remover</small></a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{turma.id ? 'Salvar Turma' : 'Cadastrar Turma'}}" />
        <button type="button" ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</button>
      </div>
    </div>
  </form>
</div>
