<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">
    <a ng-click="logic.new()" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Turmas</span>
  </h1>

  <pagination-search pagination-service="logic.PaginationService"></pagination-search>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="item in logic.PaginationService.getItens()">
        <td><a ng-click="logic.show(item.id)" ng-bind="item.nome"></a></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>
</div>
