<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">
    <span ng-bind="turma.nome"></span>
    <a href=".#/turma/{{turma.id}}/editar" class="btn btn-sm btn-default pull-right"><i class="fa fa-pencil"></i> Alterar</a>
  </h1>

  <tabset>
    <tab heading="Alunos">
      <br />

      <ul class="list-group">
        <li class="list-group-item" style="background: #fafafa;">
          <input id="selectAluno" type="text" class="form-control input-sm nao-validar" ng-model="alunoSelecionado" placeholder="Digite o nome de um aluno para inserí-lo" typeahead="aluno.nome for aluno in getAlunosPesquisa($viewValue)" typeahead-on-select="adicionarAluno($item, $model, $label)" />
        </li>
        <li class="list-group-item" ng-repeat="aluno in logic.AlunoPaginacao.getItens()">
          <span ng-bind="aluno.aluno.nome"></span> (<a ng-click="excluirAluno(aluno)">remover</a>)
        </li>
      </ul>

      <pagination-controls pagination-service="logic.AlunoPaginacao"></pagination-controls>
    </tab>

    <tab heading="Chamadas">
      <br />

      <a class="btn btn-default btn-sm" ng-click="adicionarEditarChamada()">
        <i class="fa fa-plus"></i> <span>Adicionar chamada</span>
      </a>

      <br /><br />

      <div class="panel panel-default" ng-hide="realizandoChamada">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data</th>
              <th>Disciplina</th>
              <th>Professor</th>
              <th class="text-center">Aulas</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="chamada in logic.ChamadaPaginacao.getItens()">
              <td><a ng-click="realizarChamada(chamada)" ng-bind="chamada.dataChamada | date:'dd/MM/yyyy'"></a></td>
              <td ng-bind="chamada.disciplina.nome"></td>
              <td ng-bind="chamada.professor.nome"></td>
              <td class="text-center" ng-bind="chamada.qtAulas"></td>
            </tr>
          </tbody>
        </table>

        <div class="panel-body">
          <pagination-controls pagination-service="logic.ChamadaPaginacao"></pagination-controls>
        </div>
      </div>

      <form class="panel panel-default" ng-submit="salvarChamadaEmRealizacao(chamadaEmRealizacao)" ng-show="realizandoChamada">
        <div class="panel-heading">
          <dl class="dl-horizontal" style="margin-bottom: 0;">
            <dt>Data</dt>
            <dd><span ng-bind="chamadaEmRealizacao.dataChamada | date:'dd/MM/yyyy'"></span> (<a ng-click="adicionarEditarChamada(chamadaEmRealizacao)">Editar</a>)</dd>
            <dt>Professor</dt>
            <dd ng-bind="chamadaEmRealizacao.professor.nome"></dd>
            <dt>Disciplina</dt>
            <dd ng-bind="chamadaEmRealizacao.disciplina.nome"></dd>
            <dt>Aulas</dt>
            <dd ng-bind="chamadaEmRealizacao.qtAulas"></dd>
            <dt>Descrição</dt>
            <dd ng-bind="chamadaEmRealizacao.descricao"></dd>
          </dl>
        </div>

        <div class="panel-body">
          <input type="text" class="form-control input-sm" ng-model="filtroChamadaEmRealizacao" placeholder="Filtro de Alunos..." />
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th class="text-center">Presente</th>
              <th>Observação</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="aluno in chamadaEmRealizacao.alunos | filter:filtroChamadaEmRealizacao | orderBy:'aluno.nome'">
              <td ng-bind="aluno.aluno.nome"></td>
              <td class="text-center"><input type="checkbox" ng-model="aluno.presente" /></td>
              <td><textarea class="form-control input-sm nao-validar" ng-model="aluno.observacao"></textarea></td>
            </tr>
          </tbody>
        </table>

        <div class="panel-body">
          <a class="text-muted pull-right" ng-click="excluirChamada(chamadaEmRealizacao)">Excluir</a>
          <input type="submit" class="btn btn-primary btn-sm" value="Salvar Chamada" />
          <a class="btn btn-default btn-sm" ng-click="cancelarRelizacaoDeChamada()">Cancelar</a>
        </div>
      </form>
    </tab>

    <tab heading="Atividades">
      <br />

      <a class="btn btn-default btn-sm" ng-click="adicionarEditarAtividade()">
        <i class="fa fa-plus"></i> <span>Adicionar atividade</span>
      </a>

      <br /><br />

      <div class="panel panel-default" ng-hide="realizandoAtividade">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data</th>
              <th>Disciplina</th>
              <th>Professor</th>
              <th>Tipo</th>
              <th>Valor</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="atividade in logic.AtividadePaginacao.getItens()">
              <td><a ng-click="realizarAtividade(atividade)" ng-bind="atividade.dataAtividade | date:'dd/MM/yyyy'"></a></td>
              <td ng-bind="atividade.disciplina.nome"></td>
              <td ng-bind="atividade.professor.nome"></td>
              <td ng-bind="atividade.atividade.tipoAtividade"></td>
              <td ng-bind="atividade.valorAtividade | number:2"></td>
            </tr>
          </tbody>
        </table>

        <div class="panel-body">
          <pagination-controls pagination-service="logic.AtividadePaginacao"></pagination-controls>
        </div>
      </div>

      <form class="panel panel-default" ng-submit="salvarAtividadeEmRealizacao(atividadeEmRealizacao)" ng-show="realizandoAtividade">
        <div class="panel-heading">
          <dl class="dl-horizontal" style="margin-bottom: 0;">
            <dt>Data</dt>
            <dd><span ng-bind="atividadeEmRealizacao.dataAtividade | date:'MM/dd/yyyy'"></span> (<a ng-click="adicionarEditarAtividade(atividadeEmRealizacao)">Editar</a>)</dd>
            <dt>Tipo</dt>
            <dd ng-bind="atividadeEmRealizacao.atividade.tipoAtividade"></dd>
            <dt>Valor</dt>
            <dd ng-bind="atividadeEmRealizacao.valorAtividade | number:2"></dd>
            <dt>Disciplina</dt>
            <dd ng-bind="atividadeEmRealizacao.disciplina.nome"></dd>
            <dt>Professor</dt>
            <dd ng-bind="atividadeEmRealizacao.professor.nome"></dd>
            <dt>Descrição</dt>
            <dd ng-bind="atividadeEmRealizacao.descricaoDaAtividade"></dd>
          </dl>
        </div>

        <div class="panel-body">
          <input type="text" class="form-control" ng-model="filtroAtividadeEmRealizacao" placeholder="Filtro de Alunos..." />
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-6">Nome</th>
              <th class="col-md-2">Nota</th>
              <th class="col-md-4">Observação</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="aluno in atividadeEmRealizacao.alunos| filter:filtroAtividadeEmRealizacao | orderBy:'aluno.nome'">
              <td ng-bind="aluno.aluno.nome"></td>
              <td><input type="number" step="0.1" class="form-control input-sm" ng-model="aluno.nota" min="0" max="{{atividadeEmRealizacao.valorAtividade}}" required></td>
              <td><textarea class="form-control input-sm nao-validar" ng-model="aluno.observacao"></textarea></td>
            </tr>
          </tbody>
        </table>

        <div class="panel-body">
          <a class="pull-right text-muted" ng-click="excluirAtividade(atividadeEmRealizacao)">Excluir</a>
          <input type="submit" class="btn btn-sm btn-primary" value="Salvar Atividade" />
          <a class="btn btn-sm btn-default" ng-click="cancelarRealizacaoDeAtividade()">Cancelar</a>
        </div>
      </form>
    </tab>
  </tabset>
</div>
