<div class="page-wrapper">
  <h1 class="page-header">
    <span>Cadastro de Escola</h3>
  </h1>

  <form class="form-horizontal" role="form" ng-submit="save(escola)" novalidate>

    <!-- Razão Social -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" autofocus required ng-model="escola.razaoSocial" maxlength="60" />
      </div>
    </div>

    <fieldset>
      <legend><span>Contato</span></legend>

      <div class="form-group">
        <label class="col-sm-2 control-label">Responsável</label>
        <div class="col-sm-6  ">
          <input type="text" class="form-control" ng-model="escola.responsavel" />
        </div>
      </div>

      <telefone-foda para="escola"></telefone-foda>
      <email-foda para="escola"></email-foda>
      <endereco-foda para="escola"></endereco-foda>
    </fieldset>

    <div class="row">
      <div class="col-sm-12">
        <a ng-click="remover(escola)" class="pull-right text-muted" ng-show="escola.id"><small>Remover</small></a>

        <input type="submit" class="btn btn-primary btn-sm" value="{{escola.id ? 'Salvar Escola' : 'Cadastrar Escola'}}" />
        <a href="javascript:history.back()" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
