<div class="page-wrapper">
  <h1 class="page-header">
    <a href=".#/escolas/novo" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Escolas</span>
  </h1>
  <pagination-search pagination-service="PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-5">Nome</th>
        <th class="col-sm-4">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="escola in PaginationService.getItens()">
        <td><a href=".#/escolas/{{escola.id}}" ng-bind="escola.razaoSocial"></a></td>

        <td>
          <span ng-show="escola.telefones[0]" title="{{escola.telefones[0].tipo}}">({{escola.telefones[0].ddd}}) {{escola.telefones[0].numero | formataTelefone}}</span>
          <span ng-hide="escola.telefones[0]">Nenhum</span>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="PaginationService"></pagination-controls>
</div>
