<div class="page-wrapper">
  <h1 class="page-header escola-header" ng-bind="escola.razaoSocial"></h1>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-2">
    <tabset class="isis-tabs">
      <a ng-href=".#/escolas/{{escola.id}}/editar" class="btn btn-sm btn-default pull-right"><i class="fa fa-pencil"></i> Alterar</a>

      <tab heading="Geral">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Informações Básicas</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Nome</dt>
              <dd ng-bind="escola.razaoSocial"></dd>
            </dl>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contato</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Responsável</dt>
              <dd>{{escola.responsavel || '--'}}</dd>

              <div ng-repeat="telefone in escola.telefones">
                <dt>Telefone {{$index + 1}}</dt>

                <dd>
                  <span>({{telefone.ddd}})</span>
                  <span>{{telefone.numero | formataTelefone}}</span>
                  <span class="telefone-tipo text-muted"> – {{telefone.tipo}}</span>
                </dd>
              </div>

              <div ng-repeat="email in escola.emails">
                <dt>Email {{$index + 1}}</dt>
                <dd data-ng-bind="email.email"></dd>
              </div>

              <div ng-repeat="endereco in escola.enderecos">
                <dt>Endereço 1</dt>
                <dd>
                  <address>
                    <strong>{{endereco.area}} CEP {{endereco.cep}}</strong><br />
                    {{endereco.logradouro}}, {{endereco.numero}}<br />
                    <div ng-show="endereco.complemento">{{endereco.complemento}}</div>
                    {{endereco.bairro}}<br />
                    {{endereco.cidade.nome}}/{{endereco.cidade.uf.sigla}}
                  </address>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </tab>
    </tabset>
    </div>
  </div>
</div>
