<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">{{auxilio.id ? 'Editar' : 'Cadastro de'}} Auxílio do Governo</h1>

  <form name="formPage" class="form-horizontal" role="form" ng-submit="logic.save(auxilio)" novalidate>
    <div class="form-group">
      <label for="inputDescricao" class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="auxilio.descricao" id="inputDescricao" name="inputDescricao" required ng-minlength="5" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <a ng-click="logic.remove(auxilio.id)" class="pull-right text-muted"><small>Remover</small></a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{auxilio.id ? 'Salvar Auxílio' : 'Cadastrar Auxílio'}}" />
        <button type="button" ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</button>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12">

      </div>
    </div>
  </form>
</div>
