<div class="page-wrapper" data-ng-init="logic.init()">
  <h1 class="page-header">{{atividade.id ? 'Editar' : 'Cadastro de'}} Atividade</h1>
        
  <form class="form-horizontal" role="form" data-ng-submit="logic.save(atividade)" novalidate>
    <fieldset>                
      <div class="form-group">
        <label for="inputAtividade" class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-8">
          <input data-ng-model="atividade.tipoAtividade" type="text" class="form-control" required>
        </div>
      </div>
    </fieldset>
    <br>
    <div class="form-group">
      <div class="col-sm-10">
        <a ng-click="logic.remove(atividade.id)" class="pull-right text-muted"><small>Remover</small></a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{atividade.id ? 'Salvar Atividade' : 'Cadastrar Atividade'}}" />
        <button type="button" ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</button>
      </div>
    </div>
  </form>
</div>
