<div class="page-wrapper">
  <h1 class="page-header">
    <span>{{professor.id ? 'Editar' : 'Cadastrar de'}} Professor</span>
  </h1>

  <form class="form-horizontal" role="form" ng-submit="save(professor)" novalidate>

    <!-- Nome -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" autofocus required ng-model="professor.nome" maxlength="60" />
      </div>
    </div>

    <!-- Data de Nascimento -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Data de nascimento</label>

      <div class="col-sm-3">
        <input type="date" class="form-control" ng-model="professor.dataNascimento" />
      </div>

      <div class="col-sm-3">
        <label class="radio-inline">
          <input type="radio" ng-model="professor.sexo" value="MASCULINO" /> <span>Masculino</span>
        </label>

        <label class="radio-inline">
          <input type="radio" ng-model="professor.sexo" value="FEMININO" /> <span>Feminino</span>
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">CPF</label>

      <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="professor.cpf" ng-cpf />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">RG</label>

      <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="professor.rg" />
      </div>

      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="professor.orgaoExpedidor" placeholder="Órgão Expedidor" />
      </div>
    </div>

    <!-- Contato -->
    <fieldset>
      <legend><span>Contato</span></legend>

      <telefone-foda para="professor"></telefone-foda>
      <email-foda para="professor"></email-foda>
      <endereco-foda para="professor"></endereco-foda>
    </fieldset>

    <br />

    <div class="row">
      <div class="col-sm-12">
        <a ng-click="remover(professor)" class="pull-right text-muted" ng-show="professor.id"><small>Remover</small></a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{professor.id ? 'Salvar Professor' : 'Cadastrar Professor'}}" />
        <a href="javascript:history.back()" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
