<div class="page-wrapper">        
  <h1 class="page-header">
    <a href=".#/professores/novo" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Professores</span>
  </h1>    
  
  <pagination-search pagination-service="PaginationService"></pagination-search>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-5">Nome</th>
        <th class="col-sm-4">Telefone</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="professor in PaginationService.getItens()">
        <td><a href=".#/professores/{{professor.id}}/editar" ng-bind="professor.nome"></a></td>

        <td>
          <span ng-show="professor.telefones[0]" title="{{professor.telefones[0].tipo}}">({{professor.telefones[0].ddd}}) {{professor.telefones[0].numero | formataTelefone}}</span>
          <span ng-hide="professor.telefones[0]">Nenhum</span>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="PaginationService"></pagination-controls>
</div>
