<div>
  <div class="form-group" ng-repeat="email in entidade.emails">
    <div class="col-sm-6 col-sm-offset-2">
      <input type="email" class="form-control input-sm" ng-model="email.email" placeholder="E-mail" />
    </div>

    <div class="col-sm-2" style="padding-top: 7px;">
      <a class="text-muted" ng-click="removerEmail(email, entidade)"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <a ng-click="adicionarEmail(entidade)">Adicionar e-mail</a>
    </div>
  </div>
</div>