<div>
  <fieldset ng-repeat="endereco in para.enderecos">
    <div class="col-sm-6 col-sm-offset-2">
      <legend><span style="font-size: 12px;">Endereço #{{$index+1}}</span></legend>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <input type="text" class="form-control input-sm" ng-model="endereco.cep" placeholder="CEP" required ng-change="consultaCEP(endereco)"/>
      </div>

      <div class="col-sm-2">
        <select class="form-control input-sm" ng-model="endereco.area" ng-options="area.value as area.descricao for area in areaEnderecoTipos" required>
          <option value="">-- Área</option>
        </select>
      </div>

      <div class="col-sm-2" style="padding-top: 7px;">
        <a class="text-muted" ng-click="removerEndereco(endereco, para.enderecos)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-2">
        <select class="form-control input-sm" ng-model="endereco.uf" ng-change="getCidadesByUF(endereco.uf, endereco)" ng-options="uf.sigla for uf in ufs track by uf.id" required>
          <option value="">-- UF</option>
        </select>
      </div>

      <div class="col-sm-4">
        <select class="form-control input-sm" ng-model="endereco.cidade" ng-options="cidade.nome for cidade in endereco.cidades track by cidade.id" required>
          <option value="">-- Cidade</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <input type="text" class="form-control input-sm" ng-model="endereco.logradouro" placeholder="Logradouro" required />
      </div>

      <div class="col-sm-2">
        <input type="text" class="form-control input-sm" ng-model="endereco.numero" placeholder="Número" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-2">
        <input type="text" class="form-control input-sm" ng-model="endereco.bairro" placeholder="Bairro" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-2">
        <input type="text" class="form-control input-sm" ng-model="endereco.complemento" placeholder="Complemento" />
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <a ng-click="adicionarEndereco(para.enderecos)">Adicionar endereço</a>
    </div>
  </div>
</div>
