<div>
  <div class="form-group" ng-repeat="telefone in entidade.telefones">
    <div class="col-sm-2 col-sm-offset-2">
      <select class="form-control input-sm" ng-model="telefone.tipo" ng-options="tipo for tipo in telefoneTipos"></select>
    </div>

    <div class="col-sm-1">
      <input type="text" class="form-control input-sm" ng-model="telefone.ddd" placeholder="DDD" required />
    </div>

    <div class="col-sm-3">
      <input type="text" class="form-control input-sm" ng-model="telefone.numero" placeholder="Número" required />
    </div>

    <div class="col-sm-2" style="padding-top: 7px;">
      <a class="text-muted" ng-click="removerTelefone(telefone, entidade)"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <a ng-click="adicionarTelefone(entidade)">Adicionar telefone</a>
    </div>
  </div>
</div>
