<form class="modal-content form-horizontal" role="form" ng-submit="salvar(advertencia)">
  <div class="modal-header">
    <h4 class="modal-title">Adicionar Advertencia</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="col-sm-8">
        <label class="control-label">Tipo Advertencia</label>
        <select ng-model="advertencia.profissao" ng-options="profissao.nome for profissao in profissoes track by profissao.id" class="form-control" required="required">
          <option value="">Selecione</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label class="control-label">Descrição</label>
        <input ng-model="advertencia.quantidade" type="number" min="1" class="form-control" required="required"/>
      </div>

<!--
   <div class="col-sm-12">
          <label class="control-label"> Atividades </label>
          <textarea ng-model="advertencia.atividade" class="form-control" id="inputAtividade" name="atividade"></textarea>
        </div>
      -->
    </div>
  </div>

  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Salvar" />
    <a ng-click="cancelar()" class="btn btn-default">Cancelar</a>
  </div>
</form>
