<div id="form-panel" class="panel" data-ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-file"></span>
        Contrato
      </span>
    </span>
  </div>
  <div id="form-panel-body" class="panel-body">
    <pagination-search pagination-service="logic.PaginationService"></pagination-search>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-2">Aprendiz</th>
          <th class="col-sm-2">Empresa</th>
          <th class="col-sm-1">Vaga</th>
          <th class="col-sm-2">Início</th>
          <th class="col-sm-2">Termino</th>
          <th class="col-sm-1">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="item in logic.PaginationService.getItens()">
          <td data-ng-bind="item.nomeAprendiz"></td>
          <td data-ng-bind="item.nomeEmpresa"></td>
          <td data-ng-bind="item.nomeVaga"></td>
          <td data-ng-bind="item.dataInicio"></td>
          <td data-ng-bind="item.dataFim"></td>
          <td data-ng-bind="item.status"></td>
          <td>
            <span class="pull-right">
              <a data-ng-click="logic.show(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-eye-open"></span></a>
              <a data-ng-click="logic.remove(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-remove"></span></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="form-panel-footer" class="panel-footer">
    <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>
  </div>
</div>