<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">Contrato</h1>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Informações</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Nr.</dt>
            <dd ng-bind="contrato.id"></dd>
            <dt>Status</dt>
            <dd ng-bind="contrato.status"></dd>
            <dt>Inicio</dt>
            <dd ng-bind="contrato.dataInicio | filterData"></dd>
            <dt>Termino</dt>
            <dd ng-bind="contrato.dataFim | filterData"></dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Aprendiz</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Nome</dt>
            <dd><a ng-href="#/aprendizes/{{contrato.idAprendiz}}" ng-bind="contrato.nomeAprendiz"></a></dd>
            <dt>Turma</dt>
            <dd><a ng-href="#/turma/{{contrato.idTurma}}" ng-bind="contrato.nomeTurma"></a></dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Empresa</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Empresa</dt>
            <dd><a ng-href="#/empresas/{{contrato.idEmpresa}}" ng-bind="contrato.nomeEmpresa"></a></dd>
            <dt>Vaga</dt>
            <dd ng-bind="contrato.nomeVaga"></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>


