<div id="form-panel" class="panel" data-ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-user"></span>
        Escola
      </span>
    </span>
  </div>

  <div id="form-panel-body" class="panel-body">
    <form name="formPage" class="form-horizontal" role="form" ng-submit="logic.save(escola)" novalidate>
      <legend>Dados</legend>

      <div class="form-group">
        <label for="inputRazao" class="col-sm-2 control-label">Razão Social</label>
        <div class="col-sm-6">
          <input 
          ng-model="escola.razaoSocial" 
          type="text" 
          class="form-control" 
          id="inputRazao"
          name="inputRazao"
          autofocus
          ng-minlength="5"
          ng-maxlength="60">
          <div ng-show="formPage.inputRazao.$dirty && formPage.inputRazao.$invalid">    
            <small class="help-block" ng-show="formPage.inputRazao.$error.minlength">Mínimo 5 caracteres</small>
            <small class="help-block" ng-show="formPage.inputRazao.$error.maxlength">Máximo 60 caracteres</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputNome" class="col-sm-2 control-label">Nome Fantasia</label>
        <div class="col-sm-6">
          <input 
          ng-model="escola.nome" 
          type="text" 
          class="form-control" 
          id="inputNome"
          name="inputNome"
          autofocus
          required
          ng-minlength="2"
          ng-maxlength="60">
          <div ng-show="formPage.inputNome.$dirty && formPage.inputNome.$invalid">    
            <small class="help-block" ng-show="formPage.inputNome.$error.required">Campo obrigatório</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.minlength">Mínimo 2 caracteres</small>
            <small class="help-block" ng-show="formPage.inputNome.$error.maxlength">Máximo 60 caracteres</small>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputCnpj" class="col-sm-2 control-label">CNPJ</label>
        <div class="col-sm-3">
          <input 
          ng-model="escola.cnpj" 
          type="text" 
          class="form-control" 
          id="inputCnpj"
          name="inputCnpj"
          ng-minlength="14"
          ng-maxlength="14"
          ng-pattern="/^[0-9]+$/" ng-cnpj>
          <div ng-show="formPage.inputCnpj.$dirty && formPage.inputCnpj.$invalid">  
            <small class="help-block" ng-show="formPage.inputCnpj.$error.minlength">CNPJ deve ter 14 digitos</small>
            <small class="help-block" ng-show="formPage.inputCnpj.$error.maxlength">CNPJ deve ter 14 digitos</small>
            <small class="help-block" ng-show="formPage.inputCnpj.$error.pattern">Somente numeros</small>
            <small class="help-block" ng-show="formPage.inputCnpj.$error.cnpj">CNPJ Inválido</small>
          </div>
        </div>
      </div>

      <legend>Endereço</legend>
      <endereco-index></endereco-index>

      <legend>Contato</legend>
      <telefone-index></telefone-index>
      <email-index></email-index>

      
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="formPage.$invalid">Salvar</button>
        <button type="button" ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</button>
      </div>
    </div>
      
    </form>
  </div>
</div>

<endereco-modal></endereco-modal>
<telefone-modal></telefone-modal>
<email-modal></email-modal>
