<div class="page-wrapper">
  <h1 class="page-header">
    <span>Histórico</span>
  </h1>
  <pagination-search pagination-service="PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-4">Aprendiz</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aprendiz in PaginationService.getItens()">
        <td>
          <a ng-href=".#/log/{{aprendiz.id}}" ng-bind="aprendiz.nome"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="PaginationService"></pagination-controls>
</div>
