<div id="form-panel" class="panel" data-ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-file"></span>
        Histórico
      </span>
    </span>
  </div>
  <div id="form-panel-body" class="panel-body">
    <div class="main">
      <ul class="cbp_tmtimeline">
      <li ng-repeat="log in logs">
          <time class="cbp_tmtime" datetime="04-10-2013 18:30">
            <span ng-bind="log.data | filterData"></span>
            <span ng-bind="log.hora"></span>
          </time>
          <div class="cbp_tmicon cbp_tmicon-phone"></div>
          <div class="cbp_tmlabel">
            <p ng-bind="log.observacao"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="form-panel-footer" class="panel-footer">
    <div class="row text-center">
      <div class="col-sm-12">
        <a data-ng-click="logic.back()" class="btn btn-link">Voltar</a>
      </div>
    </div>
  </div>
</div>