<form-panel data-ng-init="logic.init()">
  <form-heading>
    <form-header-content data-title="Aprendiz" data-icon="glyphicon glyphicon-user"></form-header-content>
  </form-heading>

  <form-body>
    <form class="form-horizontal" role="form" data-ng-submit="logic.save(aprendiz)">
      <fieldset>
        <legend>Dados Pessoais</legend>
        <!-- campo simples -->
        <div class="form-group">
          <label for="inputNome" class="col-sm-2 control-label">Nome</label>
          <div class="col-sm-6">
            <input data-ng-model="aprendiz.nome" type="text" class="form-control" id="inputNome">
          </div>
        </div>

        <!-- associação simples -->
        <div class="form-group">
          <label for="inputDescricao" class="col-sm-2 control-label">Categoria Descricao</label>
          <div class="col-sm-6">
            <input data-ng-model="aprendiz.categoria.descricao" type="text" class="form-control" id="inputDescricao">
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-6">
            <!-- OneToMany -->
            <!-- ManyToMany --><!-- 
            <select class="form-control" data-ng-model="endereco" data-ng-options="item.descricao for item in formCtrl.list">
              <option value="">Selecione</option>
            </select> -->
            <!-- simples formulario interno -->
            <input class="form-control" data-ng-model="endereco.logradouro"/>
            <input class="form-control" data-ng-model="endereco.numeroLogradouro"/>

            <button class="btn btn-primary" data-ng-click="logic.addEndereco(endereco)"></button>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-sm-1">id</th>
                  <th class="col-sm-3">logradouro</th>
                  <th class="col-sm-2">numero</th>
                  <th class="col-sm-2">cidade</th>
                  <th class="col-sm-2">uf</th>
                  <th class="col-sm-2">pais</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="item in aprendiz.enderecos">
                  <td data-ng-bind="item.id"></td>
                  <td data-ng-bind="item.logradouro"></td>
                  <td data-ng-bind="item.numeroLogradouro"></td>
                  <td data-ng-bind="item.cidade.descricao"></td>
                  <td data-ng-bind="item.cidade.uf.descricao"></td>
                  <td data-ng-bind="item.cidade.uf.pais.descricao"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>

      </fieldset>
    </form>
  </form-body>

  <form-footer>
    <div class="row text-center">
      <div class="col-sm-12">
        <a data-ng-click="logic.save(aprendiz)" class="btn btn-success btn-sm">Salvar</a>
        <a data-ng-click="logic.cancel()" class="btn btn-warning btn-sm">Cancelar</a>        
      </div>
    </div>
  </form-footer>
</form-panel>