<form-panel data-ng-init="logic.init()">

  <form-heading>
    <form-header-content data-title="Aprendiz" data-icon="glyphicon glyphicon-user">
      <a data-ng-click="logic.new()" class="btn btn-primary btn-sm pull-right">Novo</a>
    </form-header-content>
  </form-heading>

  <form-body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-1">ID</th>
          <th class="col-sm-9">Descrição</th>
          <th class="col-sm-2 text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="item in logic.PaginationService.getItens()">
          <td data-ng-bind="item.id"></td>
          <td data-ng-bind="item.nome"></td>
          <td>
            <span class="pull-right">
              <a data-ng-click="logic.show(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-eye-open"></span></a>
              <a data-ng-click="logic.edit(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
              <a data-ng-click="logic.remove(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </form-body>

  <form-footer>
    <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>
  </form-footer>

</form-panel>