<div class="page-wrapper">
  <h1 class="page-header">Cadastro de Usuário</h1>

  <form class="form-horizontal" ng-submit="salvar(usuario)">
    <div class="form-group">
      <label class="col-sm-2 control-label">Perfil</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="usuario.perfilDeAcesso" ng-options="perfil.nome for perfil in perfisDeAcesso track by perfil.id" required>
          <option value="">-- Selecione</option>
        </select>

        <div class="help-block" ng-show="usuario.perfilDeAcesso" ng-bind="usuario.perfilDeAcesso.descricao"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="usuario.nome" minlength="5" maxlength="60" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Login</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="usuario.login" minlength="5" maxlength="60" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Data de Expiração</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" ng-model="usuario.dataExpiracao" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Senha</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" ng-model="usuario.senha" minlength="5" maxlength="12" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary btn-sm" value="{{usuario.id && 'Salvar' || 'Cadastrar'}} Usuário" />
        <a class="btn btn-default btn-sm" ng-click="cancelar()">Cancelar</a>
      </div>
    </div>
  </form>
</div>
