<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">
    <a ng-href="#/admin/usuarios/novo" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Usuários</span>
  </h1>

  <pagination-search pagination-service="logic.PaginationService"></pagination-search>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuário</th>
        <th>Login</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="usuario in logic.PaginationService.getItens()">
        <td><a ng-href="#/admin/usuarios/{{usuario.id}}/editar" ng-bind="usuario.nome"></a> (<span ng-bind="usuario.perfilDeAcesso.nome | capitalize"></span>)</td>
        <td ng-bind="usuario.login"></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>
</div>
