<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">Cadastro de Profissão</h1>

  <form class="form-horizontal" ng-submit="logic.save(profissao)">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="profissao.nome" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a ng-click="logic.remove(profissao.id)" ng-show="profissao.id" class="pull-right text-muted">Excluir</a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{profissao.id && 'Salvar' || 'Cadastrar'}} Profissão" />
        <a ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
