<div id="form-panel" class="panel" data-ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-user"></span>
        Documento
      </span>
    </span>
  </div>
  <div id="form-panel-body" class="panel-body">
    <form class="form-horizontal" role="form" data-ng-submit="logic.save(documento)" novalidate>
      <fieldset>
        <legend>Documento</legend>
        <div class="form-group">
          <label for="inputDocumento" class="col-sm-2 control-label">Nome do Documento</label>
          <div class="col-sm-8">
            <input data-ng-model="documento.nome" type="text" class="form-control" id="inputDocumento" placeholder="Documento do Aprendiz">
          </div>
        </div>
        <div class="form-group">
          <label for="inputDocumento" class="col-sm-2 control-label">Documento Entregue</label>
          <div class="col-sm-4">
            <input type="radio" data-ng-model="documento.entregue" id="inputDocumento" value="true">Entregue<br>
            <input type="radio" data-ng-model="documento.entregue" id="inputDocumento" value="false">Não Entregue
          </div>
        </div>
        <div class="form-group">
          <label for="inputDocumento" class="col-sm-2 control-label">Observação</label>
          <div class="col-sm-8">
            <textarea data-ng-model="documento.observacao" type="text" id="inputDocumento" class="form-control"></textarea> 
          </div>
        </div>
      </fieldset>
      <div class="row text-center">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success btn-sm" ng-disabled="formPage.$invalid">Salvar</button>
          <button type="button" ng-click="logic.cancel()" class="btn btn-warning btn-sm">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  <div id="form-panel-footer" class="panel-footer">
  </div>
</div>