<div id="form-panel" class="panel" data-ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-user"></span>
        Documento
      </span>
      <a data-ng-click="logic.new()" class="btn btn-primary btn-sm pull-right">Novo</a>
    </span>
  </div>
  <div id="form-panel-body" class="panel-body">
    <pagination-search pagination-service="logic.PaginationService"></pagination-search>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-5">Nome</th>
          <th class="col-sm-2 text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="item in logic.PaginationService.getItens()">
          <td data-ng-bind="item.nome"></td>
          <td>
            <span class="pull-right">
              <a data-ng-click="logic.show(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-eye-open"></span></a>
              <a data-ng-click="logic.edit(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
              <a data-ng-click="logic.remove(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="form-panel-footer" class="panel-footer">
    <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>
  </div>
</div>