<div id="form-panel" class="panel" data-ng-init="logic.init()">
  <div id="form-panel-heading" class="panel-heading">
    <span class="h3">
      <span>
        <span class="glyphicon glyphicon-user"></span>
        Documento
      </span>
    </span>
  </div>
  <div id="form-panel-body" class="panel-body">
    <dl class="dl-horizontal">
      <div>
        <h3 class="page-header">Dados do Documneto</h3>
        <table border="0" width="100%" cellpadding="10">
          <tr>
            <td width="50%" valign="top">
              <dt>Documento Entregue</dt>
              <dd data-ng-bind="documento.entregue"></dd>

              <dt>Data de Entregue</dt>
              <dd data-ng-bind="documento.dataentrega"></dd>

              <dt>Observação</dt>
              <dd data-ng-bind="documento.observacao"></dd>
            </td>
          </tr>
        </table>
      </div>
    </dl>
  </div>
  <div id="form-panel-footer" class="panel-footer">
    <div class="row text-center">
      <div class="col-sm-12">
        <a data-ng-click="logic.edit(documento.id)" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
        <a data-ng-click="logic.remove(documento.id)" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></a>
        <a data-ng-click="logic.back()" class="btn btn-link">Voltar</a>
      </div>
    </div>
  </div>
</div>