<form class="login-form" role="form" ng-submit="logar(usuario)">
  <h2 class="form-signin-heading">Isis Bruder</h2>
  <input type="text" ng-model="usuario.login" class="form-control login" placeholder="Login" autofocus />
  <input type="password" ng-model="usuario.senha" class="form-control senha" placeholder="Senha" />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>
