<div class="pos-selecao">
  <br />

  <ul class="list-group">
    <li class="list-group-item" ng-style="aprovado.selecionado && {} || {'cursor': 'move'}" ng-repeat="aprovado in processoSeletivo.aprovados track by $index" ui-draggable="{{processoSeletivo.status == 'Pós-Seleção'}}" drag="aprovado" on-drop-success="dropSuccessHandlerAlunos($event,$index,processoSeletivo.aprovados)">
      <span class="fa fa-arrows" style="margin-right: 5px; color: #444;" ng-hide="aprovado.selecionado"></span>
      <span class="fa fa-check" ng-show="aprovado.selecionado"></span>
      <span ng-bind="aprovado.candidato.nome"></span>
    </li>
  </ul>

  <div class="panel panel-default" ng-hide="exibindoAlunos">
    <div class="panel-body" ng-hide="processoSeletivo.status === 'Encerrado'">
      <select class="form-control input-sm nao-validar" ng-model="turma" ng-change="vincularTurma(turma)" ng-options="turma.nome for turma in turmasLista" ng-disabled="processoSeletivo.status != 'Pós-Seleção'">
        <option value="">-- Tumas</option>
      </select>
    </div>

    <div class="panel-footer text-center" ng-hide="processoSeletivo.turmas.length">
      Utilize o menu acima para selecionar uma ou mais turmas para vincular Aprendizes.
    </div>

    <table class="table table-striped" ng-show="processoSeletivo.turmas.length">
      <thead>
        <tr>
          <th>Turma</th>
          <th>Alunos</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="turma in processoSeletivo.turmas track by $index" ng-class="{selected: turma.nome == turmaEdicao.nome && exibindoAlunos}">
          <td><a href="" ng-click="exibirOcultarAlunos(turma)" ng-bind="turma.nome"></a> <span ng-hide="processoSeletivo.status != 'Pós-Seleção'">(<a ng-click="excluirTurma(turma)">remover</a>)</span></td>
          <td>(<span ng-bind="turma.qtAlunos"></span>)</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default" ng-show="exibindoAlunos">
    <div class="panel-heading">{{turmaEdicao.nome}})</div>

    <div class="panel-body" ng-hide="processoSeletivo.status === 'Encerrado'">
      <div class="well drop-area" ui-on-Drop="onDropAlunos($event,$data,turmaEdicao.alunos)">Arraste um Aprendiz até aqui para selecioná-lo</div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="aluno in turmaEdicao.alunos track by $index">
        <span data-ng-bind="aluno.nome"></span> <span ng-hide="processoSeletivo.status != 'Pós-Seleção'">(<a ng-click="removerAluno($index)">remover</a>)</span>
      </li>
    </ul>

    <div class="panel-body">
      <a class="btn btn-primary btn-sm" ng-click="cancelarExibicaoDeAlunos()">Concluir</a>
    </div>
  </div>
</div>
