<br />

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Aprendizes</h3>
  </div>

  <form class="panel-body form-horizontal" role="form">
    <div class="form-group" ng-repeat="item in listaFiltro track by $index">
      <div class="col-sm-3">
        <select class="form-control input-sm nao-validar" ng-model="item.chave" ng-options="campo as campo.view for campo in campos"></select>
      </div>
      <div class="col-sm-3">
        <select class="form-control input-sm nao-validar" ng-model="item.condicao" ng-options="condicao as condicao.key for condicao in item.chave.condicoes"></select>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control input-sm nao-validar" ng-model="item.valor" placeholder="Buscar por..." />
      </div>
      <div class="col-sm-3">
        <a class="btn btn-default btn-sm" ng-click="adicionarFiltro()" ng-show="(listaFiltro.length) == $index + 1"><i class="fa fa-plus"></i></a>
        <a class="btn btn-default btn-sm" ng-click="removerFiltro($index)" ng-show="listaFiltro.length != $index + 1"><i class="fa fa-minus"></i></a>
      </div>
    </div>
    <div>
      <button class="btn btn-primary btn-sm" ng-click="buscarAprendizFiltrando()">
        <i class="fa fa-search"></i> <span>Filtrar Aprendizes</span>
      </button>
    </div>
  </form>

  <ul class="list-group">
    <li class="list-group-item" style="cursor: move;" ng-repeat="aprendiz in PaginationService.getItens()" ui-draggable="{{processoSeletivo.status == 'Pré-Seleção'}}" drag="aprendiz">
      <span class="fa fa-arrows" style="margin-right: 5px; color: #444;"></span>
      <span ng-bind="aprendiz.nome"></span>
    </li>
  </ul>

  <pagination-controls class="panel-footer" pagination-service="PaginationService"></pagination-controls>
</div>

<div class="well text-center drop-area" ui-on-Drop="onDropPreSelecao($data, aprendizesSelecionados)">Arraste um Aprendiz até aqui para selecioná-lo</div>

<h4 ng-show="aprendizesSelecionados.length > 0">Pré-Selecionados</h4>

<ul class="list-group" ng-show="aprendizesSelecionados.length > 0">
  <li class="list-group-item" ng-repeat="aprendiz in aprendizesSelecionados track by $index" ui-draggable="true" drag="aprendiz">
    <span class="fa fa-check"></span>
    <a href="" ng-bind="aprendiz.nome" style="color: #444;"></a>
    <span class="text-muted" style="margin-left: 4px;">(<a ng-click="removerAprendizSelecionado(aprendiz)" style="color: #999;">remover</a>)</span>
  </li>
</ul>
