<label class="col-sm-2 control-label">E-mail</label>
<a data-toggle="modal" ng-click="clearInput()" data-target="#emailModal" class="btn btn-link"><span class="glyphicon glyphicon-plus"></span> Adicionar</a>

<div class="col-sm-offset-2">
  <table class="table table-striped emails" style="width: auto">
    <tbody>
      <tr ng-repeat="email in emails">
        <td ng-bind="email.email"></td>
        <td class="actions-td">
          <div class="actions">
            <a data-ng-click="logic.email.edit(email)" data-toggle="modal" data-target="#emailModal" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
            <a data-ng-click="logic.email.remove($index)" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
