<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">E-mail</h4>
      </div>

        <div class="modal-body">
          <input type="email" ng-model="email.email" placeholder="E-mail" class="form-control" id="inputEmail"/>
        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
          <button type="submit" ng-click="logic.email.save(email)" ng-disabled="email.email == undefined" class="btn btn-primary">Salvar</button>
        </div>
    </div>
  </div>
</div>
