<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">Cadastro de UF</h1>

  <form class="form-horizontal" ng-submit="logic.save(estado)">
    <div class="form-group">
      <label class="col-sm-2 control-label">País</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="estado.pais" ng-options="pais.nome for pais in logic.paises" required>
          <option value="">-- Selecione</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="estado.nome" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Sigla</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="estado.sigla" maxlength="3" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a ng-show="estado.id" ng-click="logic.remove(estado.id)" class="pull-right text-muted">Excluir</a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{estado.id && 'Salvar' || 'Cadastrar'}}  UF" />
        <a ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
