<div class="page-wrapper" data-ng-init="logic.init()">

  <h1 class="page-header">
    <a ng-click="logic.new()" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>UFs</span>
  </h1>  

  <pagination-search pagination-service="logic.PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>  
        <th class="col-sm-6">Nome</th>
        <th class="col-sm-6">País</th>          
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="item in logic.PaginationService.getItens()">          
        <td><a ng-click="logic.edit(item.id)" ng-bind="item.nome"></a></td>
        <td data-ng-bind="item.pais.nome"></td>         
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>

</div>
