<div id="form-panel" class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">{{disciplina.id ? 'Editar' : 'Cadastro de'}} Disciplina</h1>

  <form class="form-horizontal" role="form" data-ng-submit="logic.save(disciplina)" novalidate>
    <fieldset>         
      <div class="form-group">
        <label for="inputDisciplina" class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-8">
          <input data-ng-model="disciplina.nome" type="text" class="form-control" required>
        </div>
      </div>
    </fieldset>
    <br>
    <div class="form-group">
      <div class="col-sm-10">
        <a ng-click="remove(disciplina.id)" ng-show="disciplina.id" class="pull-right text-muted"><small>Remover</small></a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{disciplina.id ? 'Salvar Disciplina' : 'Cadastrar Disciplina'}}" />
        <button type="button" ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</button>
      </div>
    </div>
  </form>
</div>
