<div class="page-wrapper">
  <h1 class="page-header">
    <span>Relatório</span>
  </h1>
  <pagination-search pagination-service="PaginationService"></pagination-search>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-4">Relatório de Presenças</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="empresa in PaginationService.getItens()">
        <td>
          <a ng-href=".#/relatoriopresenca/{{empresa.id}}" ng-bind="empresa.razaoSocial"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls pagination-service="PaginationService"></pagination-controls>
</div>
