<form-panel data-ng-init="listCtrl.logic.init()">
  <form-heading>
    <form-header-content data-title="Painel Administrativo" data-icon="glyphicon glyphicon-cog">
    </form-header-content>
  </form-heading>
  <form-body>
    <ul class="list-group menu-administrativo">
      <li class="list-group-item">
      <span class="glyphicon glyphicon-user"></span>
      <a href="#/admin/acessoadmin">Controle de Acesso</a>
      <div class="descricao text-muted"><em>Area Administrativa</em></div>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-cog"></span>
      <a href="#/admin/auxilios_governo">Auxílios do Governo</a>
      <div class="descricao text-muted"><em>Bolsa Família, Merenda Escolar, Erradicação do Trabalho Infantil</em></div>
    </li>

      <li class="list-group-item">
        <span class="glyphicon glyphicon-briefcase"></span>
        <a href="#/admin/profissoes">Profissões</a>
        <div class="descricao text-muted"><em>Profissões disponíveis no cadastro de Aprendizes e responsáveis</em></div>
      </li>

      <li class="list-group-item">
        <span class="glyphicon glyphicon-flag"></span>
        <a href="#/admin/paises">País</a>
        <div class="descricao text-muted"><em>Países</em></div>
      </li>

      <li class="list-group-item">
        <span class="glyphicon glyphicon-flag"></span>
        <a href="#/admin/ufs">Estado</a>
        <div class="descricao text-muted"><em>Estados</em></div>
      </li>

      <li class="list-group-item">
        <span class="glyphicon glyphicon-flag"></span>
        <a href="#/admin/cidades">Cidade</a>
        <div class="descricao text-muted"><em>Cidades</em></div>
      </li>

    <li class="list-group-item">
      <span class="glyphicon glyphicon-cog"></span>
      <a href="#/admin/disciplina">Disciplinas</a>
      <div class="descricao text-muted"><em>Disciplinas disponíveis</em></div>
    </li>
    
    <li class="list-group-item">
      <span class="glyphicon glyphicon-cog"></span>
      <a href="#/admin/atividade">Atividades</a>
      <div class="descricao text-muted"><em>Cadastro de Atividades</em></div>
    </li>
    </ul>
  </form-body>
  <form-footer>
  </form-footer>
</form-panel>