<div class="page-wrapper" ng-init="logic.init()">
  <h1 class="page-header">Cadastro de Cidade</h1>

  <form class="form-horizontal" ng-submit="logic.save(cidade)">
    <div class="form-group">
      <label class="col-sm-2 control-label">País</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="logic.pais" ng-options="uf.nome for uf in logic.paises" ng-change="logic.atualizaUf(logic.pais)" required>
          <option value="">-- Selecione</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Estado</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="cidade.uf" ng-options="uf.nome for uf in logic.ufs" required>
          <option value="">-- Selecione</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="cidade.nome" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-12">
        <a ng-show="cidade.id" ng-click="logic.remove(cidade.id)" class="pull-right text-muted">Excluir</a>
        <input type="submit" class="btn btn-primary btn-sm" value="{{cidade.id && 'Salvar' || 'Cadastrar'}} Cidade" />
        <a ng-click="logic.cancel()" class="btn btn-default btn-sm">Cancelar</a>
      </div>
    </div>
  </form>
</div>
