<div class="page-wrapper" data-ng-init="logic.init()">

  <h1 class="page-header">
    <a ng-click="logic.new()" class="btn btn-default btn-sm pull-right">Cadastrar</a>
    <span>Curso</span>
  </h1>  
  <pagination-search pagination-service="logic.PaginationService"></pagination-search>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-6">Curso</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="item in logic.PaginationService.getItens()">
        <td data-ng-bind="item.curso"></td>
        <td>
          <span class="pull-right">
            <a data-ng-click="logic.edit(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
            <a data-ng-click="logic.remove(item.id)" class="btn btn-link"><span class="glyphicon glyphicon-remove"></span></a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>


  <pagination-controls pagination-service="logic.PaginationService"></pagination-controls>

</div>