<div class="workflow-box">
  <div class="perfil-header clearfix">
    <img src="resources/img/Empty_profile_company.png" alt="" class="empty-profile" />

    <div class="page-header">
      <a href="#/empresas/{{empresa.id}}/editar" class="pull-right">Editar</a>
      <h1 ng-bind="empresa.razaoSocial"></h1>
      <ul class="list-inline">
        <li><span class="glyphicon glyphicon-phone-alt"></span> {{empresa.telefones[0].ddd}} {{empresa.telefones[0].numero}}</li>
        <li><span class="glyphicon glyphicon-envelope"></span> <a ng-href="mailto: {{empresa.emails[0].email}}" ng-bind="empresa.emails[0].email"></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Razão Social</dt>
        <dd ng-bind="empresa.razaoSocial"></dd>
        <dt>Nome Fantasia</dt>
        <dd ng-bind="empresa.nome"></dd>
        <dt>CNPJ</dt>
        <dd ng-bind="empresa.cnpj"></dd>
      </dl>

      <br />

      <address style="width:300px; margin-left:122px">
        <strong ng-bind="empresa.nome"></strong><br />
        {{empresa.enderecos[0].logradouro}}, {{empresa.enderecos[0].numero}}<br />
        {{empresa.enderecos[0].bairro}}<br />
        <span ng-if="empresa.enderecos[0].complemento">{{empresa.enderecos[0].complemento}}<br /></span>
        {{empresa.enderecos[0].cidade.nome}}/{{empresa.enderecos[0].cidade.uf.sigla}}<br />
        CEP {{empresa.enderecos[0].cep}}
      </address>
    </div>

    <div class="col-sm-offset-1 col-sm-5">
      <button class="btn btn-xs btn-success pull-right" data-toggle="modal" data-target="#addVagaModal">
        Adicionar <span class="glyphicon glyphicon-plus"></span>
      </button>
      <h4>Vagas Disponiveis</h4>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Cargo</th>
            <th>Vagas</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="vaga in vagas">
            <td ng-bind="vaga.profissao.nome"></td>
            <td ng-bind="vaga.quantidade"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addVagaModal" tabindex="-1" role="dialog" aria-labelledby="addVagaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title">Adicionar Vaga</h4>
      </div>
      <div class="row modal-body">
        <div class="form-group">
          <div class="col-sm-8">
            <label class="control-label">Cargo</label>
            <select ng-model="vaga.profissao" ng-options="profissao.nome for profissao in profissoes" class="form-control">
            </select>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Quantidade</label>
            <input ng-model="vaga.quantidade" type="number" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addVaga()">Salvar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>